[2017-04-30 10:55] jarradh opened #1 "Returns and Params should use docuapi kitten param tables"
Web3 shows Returns and Params but currently they are out of markdown format with the docuapi makrdown format, ideally they are all updated to use the table format.

[2017-04-30 11:02] jarradh opened #2 "Break up tutorials and add them"
http://wiki.status.im/proposals/chat-api/

http://wiki.status.im/guides/developers/background-for-developers/

http://wiki.status.im/guides/developers/starting-a-dapp-on-status-with-frameworks/

http://wiki.status.im/guides/developers/introduction-to-status-chat-api/

can use https://github.com/status-im/status-react/tree/develop/bots as reference

[2017-04-30 11:10] jarradh opened #3 "Introduce subset of React Native for command suggestions & keyboard"

[2017-04-30 11:19] jarradh opened #4 "Update logo image"
currently it's the default docuapi image

[2017-04-30 11:21] jarradh opened #5 "Documentation Outline"
look through https://github.com/PharkMillups/beautiful-docs or other documentation and maybe come up with some suggestions on the best 'outline' or layout for developers

we need things like Intro, Quickstart, Getting Started with HTML5 Dapps, Getting Started with Chatbots, this sort of thing

[2017-04-30 11:26] jarradh opened #6 "add .github/ templates"
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md

ie https://github.com/status-im/status-react/tree/develop/.github

[2017-04-30 11:29] jarradh opened #7 "replace google analytics code in hook_head_end.html"

[2017-04-30 12:35] #7 closed

[2017-04-30 12:35] #4 closed

[2017-04-30 14:50] AKhoriaty commented on #5
Two great reads on how to style and write good docs
http://blog.parse.com/learn/engineering/designing-great-api-docs/
https://jacobian.org/writing/what-to-write/

My favorite example from the list is https://dev.twitter.com/docs

I'll summarize what I read with a constructed doc template below. **Keep in mind this is just a quick template. The best docs are hand crafted for their specific audience

[2017-05-03 01:57] AKhoriaty commented on #2
Frameworks breakdown
http://wiki.status.im/guides/developers/starting-a-dapp-on-status-with-frameworks/

- [ ] Take the "In this tutorial" paragraph at the top, add as an "Introduction"
- [ ] Take the "A quick overview" section, change title to "Overview", copy the paragraph content over, add a bullet point list of the sections below
- [ ] Take the "installing Status", "Enabling Debugging",  "Inst

[2017-05-03 17:23] darkobodnaruk commented on #2
I've done the Frameworks breakdown (on my fork), but the chosen template doesn't seem so well-suited for this kind of doc. It shows code (shell commands in this case) on the right and a bit lower than the reference:

<img width="1141" alt="screen shot 2017-05-03 at 19 19 21" src="https://cloud.githubusercontent.com/assets/247699/25672855/afa61262-3035-11e7-8dec-f2395f78634a.png">

This can probabl

[2017-05-03 17:37] darkobodnaruk commented on #2
Also, connected to the theme: maybe we'd like to use language tabs on this page (guide) for platforms (Windows/Linux/OSX), while in other guides the code shown is only in one JS. But the theme seems to allow only a global setting (haven't looked very hard, though). Again, I might be overthinking the theme :)

[2017-05-04 00:31] AKhoriaty opened #8 "Create an "init" hello world - Tutorial"

[2017-05-04 00:31] AKhoriaty opened #9 "Create your first status command - Tutorial"

[2017-05-04 00:32] AKhoriaty opened #10 "Create a command with a interactive suggestion area and custom interactive keyboard - Tutorial"

[2017-05-04 00:32] AKhoriaty opened #11 "Create a 'Chatbot' that can respond to messages in 1-to-1 - Tutorial"

[2017-05-04 11:17] andytudhope commented on #2
Have done most of the status (API) breakdown on the develop fork - am just waiting on the devs to respond before committing them.

[2017-05-08 20:15] darkobodnaruk commented on #2
# General comments

- "Status (API)" intro feels weird. If anywhere, this text belongs to the beginning of the entire document.
- "Frameworks / Installing Status" - developer needs this both for bare-bones and framework development, so it belongs to to Quickstart.
- "Frameworks / Enabling Debugging" - same, belongs to Quickstart.

# Bare-bones

- "Step by step" is missing information: how do I get

[2017-05-30 01:14] makoto opened #13 "suggestionContainerStyle is used twice but never defined"
https://github.com/status-im/docs.status.im/search?utf8=%E2%9C%93&q=suggestionContainerStyle&type=

`suggestionContainerStyle`  is used in two of the docs but never defined.

[code]

Replacing `suggestionSubContainerStyle` with `{}` will now raise the following error and crashes the app when you press either `Hello` or `Goodbye`

[code]

Please be aware that there is a very similar `suggestionsCon

[2018-06-21 16:08] andytudhope commented on #13
Closing to clean repo for complete overhaul, thanks for reporting though.

[2018-06-21 16:08] #13 closed

[2018-06-21 16:08] #11 closed

[2018-06-21 16:08] #10 closed

[2018-06-21 16:09] #9 closed

[2018-06-21 16:09] #8 closed

[2018-06-21 16:10] #5 closed

[2018-06-21 16:10] #3 closed

[2018-06-21 16:11] #2 closed

[2018-06-21 16:11] #1 closed

[2018-07-07 06:01] #6 closed

[2018-07-30 10:19] andytudhope opened #39 "Add wget as dependency in setup script"
Most developers will already have this installed, but I started from fresh to test the documents, and we require `wget` in order to install the Android NDK and this just errors out if `wget` is not installed.

I am on OSX and had to install manually: `brew install wget` is all it takes.

There seem to be other errors in my environment coming from RNKeyChain especially, see: https://github.com/stat

[2018-07-31 13:13] #39 closed

[2018-09-19 16:45] oskarth opened #49 "Lack of instructions for how to run automated tests"
Should be possible to do this locally IIRC.

cc @antdanchenko

[2018-09-19 16:46] oskarth opened #50 "status-go bundle with status-react"
This used to be old wiki but was removed accidentally.

[2018-09-19 16:48] oskarth opened #51 "Build instructions for status-react should be less brittle be using yarn instead of npm"
Actual PR/code implementation to be done by e.g. mobile team or any contributor.

Has proven to be quite gnarly.

Once this is updated, update docs.

Relevant PR: https://github.com/status-im/status-react/pull/5056

[2018-09-19 16:49] oskarth opened #52 "status-go different modes how to build and test"
Right now no mention of status-go in docs.status.im. Pointer to README at a minimum, ideally specific steps for various basic configurations bootnodes/whisper/etc, as well as basic tests.

[2018-09-19 16:51] oskarth opened #53 "QA docs seems a bit out of date"
"If you are ready to help with testing then make sure you have a recent backup of your device as there is no guarantee that next build will not introduce critical issues that cause complete device reset and data loss." and "Current versions consume lots of traffic and battery, make sure you are using wifi for testing." seems both scary and wrong to me. Perhaps we can make this seem more welcoming?

[2018-09-19 16:52] pablanopete opened #54 "Contribution guidelines"
Technikon needs contribution guidelines so users who come into the fold can understand what is needed / the purpose as well as the best place to get started if you want to add to existing documentation. As well as what kind of pages wouldn't be accepted.

EG: wikipedia contribution purpose - getting started etc. https://en.wikipedia.org/wiki/Wikipedia:Contributing_to_Wikipedia

[2018-09-19 21:41] PombeirP commented on #52
There's a ton of higher priority stuff going on, but I figure this can be done in a short amount of time, so in the spirit of Getting Things Done, I added an initial version in https://docs.status.im/docs/build_status_go.html.

[2018-09-19 21:43] PombeirP commented on #52
@adambabik I left a TODO in there where you could plug in a page explaining how to build status-react with a custom status-go.

[2018-09-20 15:36] pablanopete opened #55 "Instructions to update public channels for PMs / others"
Ref here:

https://github.com/status-im/status-react/issues/5923

[2018-10-02 17:49] adambabik commented on #50
If https://docs.status.im/docs/build_status_go.html covers this case, I think we can close this issue.

[2018-10-02 17:58] #53 closed

[2018-10-02 17:59] andytudhope commented on #54
Would you like to write one @pablanopete?

Each page now has an edit button which take you directly to the proper file on the right branch in github. The README in this repo has instructions on how to add more complicated things if you want to make a whole new page etc.

[2018-10-02 18:00] andytudhope commented on #55
@yenda can we document this?

[2018-10-02 23:30] yenda commented on #55
which section should this go into ?

[2018-10-03 02:39] oskarth commented on #50
Just skimmed, but doesn't mention https://github.com/status-im/status-react/blob/develop/scripts/bundle-status-go.sh so my guess it doesn't.

[2018-10-03 10:16] yenda commented on #55
@andytudhope which section should this go into ?

[2018-10-03 13:29] oskarth opened #68 "Security champions page out of date"
https://docs.status.im/docs/security_champions.html

Doesn't seem to reflect current state

cc @mandrigin @corpetty

[2018-10-10 10:49] andytudhope commented on #68
How about this @corpetty @mandrigin - feel like updating your docs? 😉

[2018-10-24 21:36] andytudhope commented on #54
Solved by https://github.com/status-im/docs.status.im/commit/881294ab26d4add34734314af564ab42e87763e5

[2018-10-24 21:36] #54 closed

[2018-10-26 07:02] chadyj opened #95 "Remove downloads from desktop page"
Yay the new website looks great! Congrats everyone!

I'm giddy to see the desktop page https://status.im/get_desktop/  but the nightly releases shouldn't be distributed/promoted [yet].

The desktop team doesn't recommend people use nightlies for more than testing. It hasn't had a security review, frequently blows up, and won't be ready until the first alpha release. We even have a scary nightly di

[2018-10-26 07:14] chadyj opened #96 "Add warning to nightly page"
Grab the warning from https://status-im.github.io/nightly/ and add to  https://status.im/nightly/

@andytudhope @jakubgs

[2018-10-27 10:41] samthomson opened #98 "studio is a dead link - on the homepage"
Clicking the 'studio' panel doesn't do anything. Unlike embark and nimbus sections for example.
It should be a link to https://studio.status.im/

![image](https://user-images.githubusercontent.com/6588340/47602906-b3703600-da04-11e8-85fe-a7d4e57dc1fb.png)

[2018-10-28 12:39] andmironov commented on #95
can we keep the *Get Status Desktop* page with a single button "Get Status for Desktop". And once a user clicks that button we could show a popup with that disclaimer and show the download links in that popup? @chadyj

[2018-10-28 12:52] chadyj commented on #95
No :(

Desktop is not ready to promote until the alpha release. We still have a bunch of work to do.

However you could make a note that we are working on the alpha release, but in the meantime nightlies are available for developers and testers.

[2018-10-28 13:31] andmironov commented on #95
Here are the screenshots but okay :-(

<img width="1259" alt="1" src="https://user-images.githubusercontent.com/3115606/47616510-14a81000-dabe-11e8-8c1c-26f769c869f3.png">
<img width="1259" alt="2" src="https://user-images.githubusercontent.com/3115606/47616511-14a81000-dabe-11e8-9dc8-748be6d32de5.png">

[2018-10-28 13:32] chadyj commented on #95
Pinging @corpetty for how to inform users about nightly and alpha releases

[2018-10-29 00:00] Shrinks99 opened #106 "studio.status.im 'projects' button incorrectly links to 'community'"
When you click the `projects` button on the nav bar of [studio.status.im](https://studio.status.im/), the website opens the community tab instead of the projects tab.  See [status.im](https://status.im/) for expected behaviour.

[2018-10-29 00:03] Shrinks99 commented on #98
This is working as of now (tested on Chrome 70).

[2018-10-29 00:05] Shrinks99 opened #107 "studio.status.im has the wrong page title"
The [studio.status.im](https://studio.status.im/) page has the Nimbus page title resulting in the wrong page being displayed in the tab bar.

![screen shot 2018-10-28 at 7 56 18 pm](https://user-images.githubusercontent.com/5672810/47623865-85662100-daec-11e8-9214-eabd94ad0a3d.png)

[2018-10-29 02:48] samthomson commented on #98
Seems somebody else got to it in between my creating the issue and now: https://github.com/status-im/status.im/commit/0d559bc9dfec9fc0ed6fb1a399ba2218f29e835b

We can close this issue now.

[2018-10-29 02:48] #98 closed

[2018-10-29 08:09] samthomson commented on #107
should this issue be moved to https://github.com/status-im/studio.status.im ?

[2018-10-29 08:10] samthomson commented on #106
should this issue be moved to the https://github.com/status-im/studio.status.im repo ?

[2018-10-29 08:30] samthomson commented on #107
created a PR anyway

[2018-10-29 08:49] samthomson commented on #106
Assign this to me and I'll take care of it :)

[2018-10-29 10:01] samthomson opened #108 "dead link on contribute page"
At the URL https://status.im/contribute/ the third block, titled 'working here', leads to a 404. I might guess it could point to https://status.im/contribute/open_positions.html as the corresponding link in the sidebar does, although that would imply duplicity so maybe it is meant to go elsewhere. Either way, a deadlink.

![image](https://user-images.githubusercontent.com/6588340/47642772-9d43b080

[2018-10-29 10:02] samthomson commented on #108
happy to fix if assigned to me and a target link specified :)

[2018-10-29 12:18] andytudhope commented on #106
Hi @samthomson - so "taking care" of this is a little more involved than you might think. We moved across to `sass` on the main page and shifted the JS about a bit, so I need to replicate that on both `studio` and `incubate` in order to get the menu drop down working correctly. Might just be easiest if I take care of it at some stage this week, but thanks for the offer ❤️

[2018-10-29 12:20] andytudhope commented on #108
Cool, the link you listed above is the correct one. Please make sure to submit a PR to `develop` ❤️

[2018-10-29 12:21] #107 closed

[2018-10-31 09:07] samthomson opened #111 "dead link"
In the Learning section of the docs page. What should the target be?

![image](https://user-images.githubusercontent.com/6588340/47777072-0820f300-dd1c-11e8-9b37-5754ce8d9821.png)

[2018-10-31 09:38] samthomson commented on #106
Whatever you think's best :+1: I had thought I'd replicate what's on status.im, but did think maybe that could be refactored into something shared across sites. I'll leave it to you guys and stay out of the way :)

[2018-10-31 15:02] pablanopete opened #114 "No localization to new website"
## Requirements

Move all html text strings to yml files so we can translate more easily.

## Steps

1. Remove all the text strings in each of the `.swig` files in `themes/navy/layout`, and move them to all three language files: `themes/navy/languages/en.yml`, `themes/navy/languages/ko.yml`, `themes/navy/languages/ko.yml` so that we can translate more of the site easily.

2. You'll need to edit, f

[2018-11-01 16:21] #108 closed

[2018-11-01 20:43] andmironov commented on #95
Maybe we remove the "Get status for desktop" link from homepage but keep the https://status.im/get_desktop/ as on screenshots above as a replacement for nightly page? since the nightly page is public anyway

[2018-11-05 13:29] andytudhope commented on #95
I really like the screenshots and vote for keeping the button on the home page, having the popup above with whatever warning @chadyj would like to see in it, wdyt Chad?

[2018-11-05 13:34] andytudhope commented on #96
Fixed by https://github.com/status-im/status.im/commit/6bb73f6685bb683be85d00641b02df9f9f7a14f1

[2018-11-05 13:34] #96 closed

[2018-11-05 13:54] andytudhope opened #120 "Fix code highlighting across the site"
We customised the navy theme from Hexo a lot for this site, including shifting all our styles from`.styl` files to `.scss` and writing a gulp build pipeline, rather than relying on hexo's default one.

In all the madness, we somehow broke code highlighting and I have not been able to fix it, though have tried various methods. This bounty is for making sure that any code block in any markdown file

[2018-11-05 14:28] PascalPrecht commented on #120
Hi @andytudhope, one thing, just for clarification: Is there any reasoning behind bypassing hexo's build pipeline?

[2018-11-05 17:57] chadyj commented on #95
Nope get rid of it.
The app is often broken, and will likely cause loss of data or worse. Alpha is right around the corner so lets lead with a vetted app which will still retain the disclaimer, and have an additional in-app disclaimer.

Considering the recent security, data, usability and basic functionality issues it is clear it isn't ready to promote.

[2018-11-05 18:51] corpetty commented on #95
So we need a disclaimer of lack of security in both the download button, as well as the app itself when started.  This should be similar to that of the nightly release disclaimer, and reinforcing to not put in recovery phrases that have money or value associated with them.

[2018-11-05 18:52] corpetty commented on #95
I like the one screenshotted above.

[2018-11-06 03:43] andytudhope commented on #95
Ok @chadyj - the button has been removed for now. @andmironov would you mind still creating that popup as it is in the screenshot on the `get_desktop` page so that we can have it ready for the Alpha release?

[2018-11-06 03:48] andytudhope commented on #120
@PascalPrecht Andrei wrote a bunch of custom javascript for image animations and it didn't work with the hexo build pipeline and my tight deadline. I'd be happy though if you felt like getting rid of the gulpfile and just sticking with hexo as it was always meant to be - not at all a fan of the added complexity, but sacrificed that battle to win the larger war 😉

[2018-11-06 07:41] PascalPrecht commented on #120
@andytudhope understood!

@squanto already sent a PR with a quick-fix. Maybe we can have another bounty that solves this with Hexo's APIs if possible.

[2018-11-06 08:34] andmironov commented on #95
yep, will do!

[2018-11-06 09:01] samthomson commented on #106
No worries on the late reply, sure DevCon was worth it :)
Sure I'd be happy to help out. Haven't solved a bounty before so would be interested to see how that flow runs. Go for it.

As for ideas.

NPM package: create an npm package to be included in each repo which spits out the correct menu/html/js. Does the job, fits with the existing package structure. A package that generates hard coded html s

[2018-11-06 12:03] arnetheduck commented on #95
hide it behind a riddle, so only the worthy can get to it :)

[2018-11-06 15:01] pablanopete commented on #114
Yup! Cool; thanks for the links to the docs @andytudhope - definitely have @LaloGarza and Jinho down for those stated; maybe @jakubgs can help with https://cn.status.im/ server hosting just the install page once I get that started as well.

As far as next steps, can you link to the lines of code on the .html pages are when you have this setup in this issue for easy ref.

[2018-11-06 15:03] pablanopete commented on #120
I also am on-board with removing gulp 👯‍♂️ plz plz plz 💯

[2018-11-06 16:49] andytudhope commented on #106
Hi @samthomson let's try with the git submodules pattern first I think, will create a bounty here for you shortly to get it done. It may be worth waiting a day or 2 for this issue and fix to be solved and merged:  #120 as we may be able to get rid of the gulp file here and make sure that the process is exactly the same for each site without too much extra work...

[2018-11-06 17:40] oznekenzo opened #124 "Breaking change - EIP1102 - not calling ethereum.enable( )"
I'm having an issue where await ethereum.enable( ) is either skipping the promise returned from this or is not firing at all - wondering if anyone else is experiencing the same in their dapps?

[2018-11-07 02:41] samthomson commented on #106
Sounds good, I've subscribed to #120 to see when it's wrapped up,.

[2018-11-07 05:54] andytudhope commented on #124
@flexsurfer @jeluard any ideas here? @oznekenzo could you please provide more details if possible?

[2018-11-07 11:37] andytudhope commented on #114
I don't understand that question @pablanopete? Can you please translate it into English for me? 😛

Also, please could you ping Lalo to help here, it doesn't seem like he checks GH notifications.

[2018-11-07 12:45] andytudhope opened #126 "Implement git submodules pattern to share common elements across sites"
This is a bounty issue for @samthomson to work on git submodules that can be used to host common elements across all Status and Status projects sites (currently studio.stauts.im, incubate.status.im and nimbus.status.im).

1. Work according to this comment and the one before: https://github.com/status-im/status.im/issues/106#issuecomment-436324270
2. Make sure that there are submodules shared consi

[2018-11-07 12:48] andytudhope commented on #106
Hey @samthomson I have been foiled by a failure in Gitcoin for the moment, but this does not mean you cannot begin work here. Please see #126 for details.

We need to make sure that nimbus.status.im; studio.status.im and incubate.status.im all use the same format so that it's easy to contribute across the board. 126 links to issues I have created in each for moving the styles across, cleaning up a

[2018-11-07 12:48] #106 closed

[2018-11-07 13:00] andytudhope commented on #55
Fixed in https://github.com/status-im/status.im/commit/9fea1c50ff08053b012b419a586087687904b7c5

[2018-11-07 13:00] #55 closed

[2018-11-07 13:01] andytudhope commented on #49
@antdanchenko can I get an update here please - are you planning on adding these instructions ever? There is a `Testing` Section in the main `docs` sidebar: https://status.im/docs/

Please do so there in the next few days or close this issue.

[2018-11-07 13:01] andytudhope commented on #50
Can we either fix this according to @oskarth's requirement @adambabik or close this issue please?

[2018-11-07 13:02] andytudhope commented on #51
Oh, the old yarn story.... @oskarth is this ever going to happen? Feel like we've been moving over to Yarn for about a year now...

[2018-11-07 13:03] andytudhope commented on #52
@PombeirP can we close this issue? I believe everything is pretty up to date now...

[2018-11-07 13:06] PombeirP commented on #52
@andytudhope yeah, I believe so

[2018-11-07 13:18] oskarth commented on #51
We just need to find someone with otherwordly determination to make it happen. Believe!

[2018-11-07 13:19] oskarth commented on #50
I don't understand how someone can build status-react with custom status-go without knowing about this, so seems like it should be captured IMO

[2018-11-07 14:18] #52 closed

[2018-11-07 14:29] andytudhope commented on #126
@samthomson all bounties should now be deployed for you if you would like to apply for them through https://gitcoin.co and get going? Let me know ❤️

[2018-11-07 14:52] andytudhope opened #127 "Investigate Internationalization"
On initial investigation, it seemed like Hexo supported internationalization. However, the devil is in the detail, as always.

My research thus far includes:

1. https://hexo.io/docs/internationalization
2. https://github.com/Jamling/hexo-generator-i18n
3. https://github.com/xcatliu/hexo-generator-index-i18n
4. https://bluemix.github.io/en/2017/multilingual-blogging-with-Hexo/ (This seems to be si

[2018-11-07 17:38] jakubgs commented on #114
The https://cn.status.im/ is deployed via:
https://github.com/status-im/infra-misc/tree/master/ansible/roles/cn-website
What exactly do you need?

[2018-11-07 21:47] pablanopete commented on #114
Haha @andytudhope , I just meant can you link to the structure in the repository where the files will be updated in this issue comment history to make it easy for them to find.

@jakubgs nothing further needed from your end! Will just need to redeploy the new site onto that infra once the site is translated.

[2018-11-07 21:50] pablanopete commented on #114
Edit I also see there’s some further investigation on #127 so I’ll let things progress on that front. Noman said he was happy to help but we should still put a bounty on it; because it probably will take a bit of research and digging down the rabbit hole.

[2018-11-07 23:13] LaloGarza commented on #114
Hey hermanos!
Is it possible to use https://lokalise.co for the website translations?, Shawn, Jinho and me are thinking to have this work done as one of the first advocacy tasks for the non speaking english communities.

[2018-11-08 03:41] samthomson commented on #126
Hey @andytudhope , applied to work via gitcoin and happy to get going. Other related issues (https://github.com/status-im/incubate.status.im/issues/5 https://github.com/status-im/studio.status.im/issues/5 https://github.com/status-im/nimbus.status.im/issues/20) seem interesting too (have used scss & gulp quite a bit) but I was too slow (or at least in the wrong timezone :sleeping: :smile: ), happy

[2018-11-08 08:44] samthomson commented on #126
Question / comment:
- Nimbus has a different header menu to status im, incubate, and studio websites.
- incubate and studio have the same footer, nimbus has a similar footer but with different details (namely the organization address), and status im has different content in the footer altogether

Should nimbus' header be changed to match the others, or shall I leave it for now?
I could create a sh

[2018-11-08 09:28] oskarth opened #129 "Principles body text doesn't match actual principles"
It's great to see our principles on the website. However, they aren't represented accurately. Compare https://status.im/contribute/our_principles.html vs https://our.status.im/our-principles/

I don't think it is wise to abbreviate these, as quite a lot of work was put into exact formulation and getting consensus across a majority of the organization.

[2018-11-08 09:34] andytudhope commented on #126
Drop me a mail andy[at]status[dot]im and we can do that to make sure we're on the same page 👍

[2018-11-09 11:41] samthomson commented on #126
I've made a working prototype of this on my dev machine, ready to implement it into a PR and push upstream once the other issues are rolled in (and I've rebased of course). Let me know if I can help with any related (or unrelated) issues.

[2018-11-09 11:55] andytudhope commented on #126
Awesome! ❤️ I'm finished with migrating another site I'm working on for Merry Merkle in December across to using that pattern, so maybe we could test there while we wait for the others to catch up? 😜 https://github.com/andytudhope/merrymerkle.africa

Happy to play around there and test things for the moment...

[2018-11-09 12:11] andytudhope commented on #129
Will be updated on the live site once Jakub is done with his changes to the nightly pipeline and I can merge it all in one go: https://github.com/status-im/status.im/commit/dd97ec049c741974c791e215fa22c3a7379f1c8c

[2018-11-09 12:11] #129 closed

[2018-11-10 06:14] samthomson commented on #126
Cool, will get to it on Monday and we can go from there.
While here, am I right in thinking that the three related style > scss tasks require the contributor to fix the project menu too (point 4 on those issues spec)? Since on this (#126) issue I will be bringing in the JS (for the menu), maybe those contributors are each doing the same work which they could easily leave out, as in my solution I w

[2018-11-12 07:42] samthomson commented on #126
How do you want to proceed with testing things on your merrymerkle site?

What I got working locally was to create a repository (which stores shared partials like the header nav and footer).
I then added that repo as a sub module (not as a subtree, for reasons I'll go into in my PR notes) onto a couple of the static sites. Then I updated the static sites to use a partial from the submodule.
I test

[2018-11-12 11:54] chadyj opened #134 ""Join Status Chat" to deep link #status"
Heya!

Shouldn't the "join status chat" link on https://status.im point to https://get.status.im/chat/public/status to deep link users into #status if they have mobile or desktop installed, or if not direct them to the download link?

cc @andmironov @andytudhope

[2018-11-12 12:06] chadyj commented on #127
There is already a pretty nifty translation workflow happening with Lokalise >> Github for the mobile and desktop apps, so it would be nice to keep this for the website.

It still allows for a 100% git based workflow with PR's for review, but it makes the actual UX of translation a million times easier.

The good news is that Lokalise supports json, yaml, and [other file formats out of the box](ht

[2018-11-12 12:41] #134 closed

[2018-11-12 12:46] andytudhope commented on #127
Yeah, that would be nice. We can definitely use it for the current yml files (which control the sidebar menus).

However, the bulk of the work here will need to be in the `.md` files, which lokalise does not seem to support... Could we still get people to translate those longer text files somehow with the same workflow?

[2018-11-12 14:04] PierrickGT commented on #127
So I've done some research and I've figured out how to make the translation work in the `.swig` files.

First, you seem to only need this piece of code in the theme config to make i18n work:
[code]

The translations need to be stored in the theme folder this way:
`themes/navy/languages/kr.yml`

Then in a swig file, you can list all the languages available this way:
[code]

Which will be useful to

[2018-11-12 14:08] chadyj commented on #114
@LaloGarza @jinhojang93 I've created a Lokalise project to test out translating the menu's, headers, and other text. Take a look :)

@andytudhope Also added you as admin to kick the tires.

[2018-11-12 14:10] chadyj commented on #127
For anyone interested I created a Lokalise project for the site strings in `themes/navy/languages/en.yml`.  Should be really quick and easy to translate that part while the content flow is figured out.

[2018-11-12 14:12] andytudhope commented on #127
That's awesome, thanks @PierrickGT - a good way to start us off. If you can submit this as a PR and figure out the routes, I will create a bounty here (that is contingent on the routing). We can then:

1. make `es` and `kr` directories (but I worry about making the site too big and heavy, wdyt?)
2. figure out how to get the workflow with lokalise correct. Thanks for setting up the first part @chad

[2018-11-12 14:53] arnetheduck opened #135 "Markdown extensions akin to hackmd"
HackMD has support for rendering several types of languages, including dot/graphviz, mermaidjs etc as can be seen here: https://hackmd.io/s/features#Code-Block

In some docs, like https://status.im/research/whisper_pss.html this could be used to produce beautiful graphs and the like - here's the hackmd rendering of the same page: https://hackmd.io/FcSt28PHTq6xw24BpRiduw#

It would be nice if our r

[2018-11-12 21:03] andytudhope opened #136 "New Section Rather Than Annoucements"
We need to update (and preferably remove) `Announcements` on the home page. Communications (not marketing anymore!) has been wanting to move away from this "broadcast" mentality for a long time, plus the content is now outdated.

We could:

1. Have it be `Discussions` with a live feed from discuss.status.im if that is possible.
2. Actually, that's the only half-interesting idea I have for that sec

[2018-11-12 21:49] PierrickGT commented on #127
@andytudhope so apparently, the only way to have languages subroutes with markdowm is to create a subfolder for each languages with the different markdowns files inside.

Here is a tutorial that explains it: https://dengcb.com/hexo-minos-multi-language/

Let me know what you think about this option, I could start to implement it on a page to see if it's not too complicated this way.

[2018-11-13 08:38] chadyj commented on #127
Heya @PierrickGT great progress!

Take a look at https://github.com/status-im/status.im/pull/138 if you want to test Korean strings.  The export was made with Lokalise so let me know if the format needs tweaking.  Kudos to @jinhojang93 for quickly translating!

[2018-11-13 12:17] hazelyuyang commented on #136
Perhaps it could be the posts from [Status Advocacy Program](http://status.staging.xpo.network/).

[2018-11-13 17:07] andytudhope commented on #136
yip, sounds good to me. Some questions, though:

Who is building that, why isn't it open source like all our other sites, and could they provide access to a feed for us? 😅

[2018-11-13 19:28] chadyj opened #139 "Add windows build to nightlies page"
Add the windows build to https://status.im/nightly/

Resurrecting this after https://github.com/status-im/status-im.github.io/pull/5 was closed on the old nightly site.

Spoke to @jakubgs and he will make this happen once @PombeirP finalizes the windows build work (any moment now!).

[2018-11-13 21:48] PombeirP commented on #139
Windows PR is ready and approved, just waiting on testing :fireworks:

[2018-11-14 08:35] andytudhope commented on #139
@andmironov how are we doing with implementing that popup you showed off in screenshots in the other issue?

[2018-11-14 09:37] StatusSceptre commented on #127
@PierrickGT we are having issues with trying to import global partials for shared elements like the header nav and footer. However, this seems to be working well at https://dev.status.im/ko/docs so you can ahead and hit submit here and I will pay you out and close this while we figure out how to get around importing partials at a specific commit in git submodules...

[2018-11-14 09:50] PierrickGT commented on #127
@StatusSceptre weirdly, I can't click on submit in the Gitcoin interface. So I guess you need to accept my work before triggering the pay out.

[2018-11-14 09:55] andytudhope commented on #127
@vs77bb can you take a look at this? Pierre has been approved to start work, so he should be able to submit, no?

[2018-11-14 12:30] andytudhope opened #143 "Investigate hosting this website over Swarm"
Hexo produces static pages. It should be relatively easy (TM) to get this website being served over Swarm, especially seeing as mutable resources and feeds are now a thing (I'm not actually sure if those are totally relevant, they're nevertheless very cool).

This bounty is for researching how exactly to do that (so that we can add a `How To` doc under our `Research` section) and providing clear `

[2018-11-14 15:22] andytudhope commented on #127
While we wait for that @PierrickGT - the next question is: if I wanted to https://status.im/ko to show a Korean index page, or for any of the `md` pages under https://status.im/ko/docs - what would be the best way to do that? The `ko` directory is only generated when `public` is built, so how do we do deeper translations than just the sidebar?

[2018-11-14 20:51] PierrickGT commented on #127
@vs77bb I can now click on the submit button but no matter how many gas I use, I can't confirm the transaction on Metamask. Maybe it's because I use a Ledger and since it's still in beta there may be some problems.

[2018-11-14 21:15] PierrickGT commented on #127
@andytudhope for status.im/ko, you need to edit `themes/navy/layout/index.swig` by replacing the text with this kind of syntax `{{ __('sidebar.docs.index') }}`. It will work for all `.swig` files if it finds the appropriate translation in the `.yml` languages files.

For `.md` files, I have yet to find an automatic solution and it seems like the easiest way would be to use only `.swig` files since

[2018-11-14 21:56] andytudhope commented on #127
OK, that can be done with another bounty or 2 I think...

I agree that a separate folder with `md` files is not very scalable. However,

1. have you seen how many `md` files there are? 😅There's a lot of content, and I hope to see it grow, evolve and change quite rapidly. A language file to handle everything seems equally inelegant.

2. It's easy for people (esp non-technical people) to edit `md` f

[2018-11-15 02:29] sriharikapu commented on #143
Hi @andytudhope,
I am able to finish it already, I will share the demo and the code soon by next 40 hours.
Please approve me on Gitcoin.

[2018-11-15 08:40] PierrickGT commented on #127
You're right, it would be difficult to have to handle duplicated files and markdown if the definitely the best to write content without having any coding knowledge.

So yes, we could translate the `.swig` files first and then find a way to parse markdown files.

[2018-11-15 09:39] andytudhope commented on #143
Hey @sriharikapu!! It's great to see you here ❤️We still need to talk about Malaysian meetups brother...

I mean, it is also gonna require some infrastructure work our side, I am sure (and don't know if @jakubgs has any time currently), but "the code" to run it would be great - can you just detail a little more what you mean? Either way, if you do so I will make sure I increase the bounty a fair b

[2018-11-15 10:21] andytudhope opened #148 "Moar Whisper Articles/Use Cases/Tutorials"
This is a bounty for some good friends to write up (and maybe exhibit) a bit of the work that they can, based on a project they were involved with in South Africa.

Acceptable criteria include a clear article (hopefully with some code to run) that exhibits interesting information about key exchange or methods of encryption like [Pedersen Commits](https://en.wikipedia.org/wiki/Commitment_scheme#A_p

[2018-11-15 11:13] andytudhope commented on #135
@nanspro how are we doing here? Any leads?

[2018-11-15 11:39] andmironov commented on #139
No need for the popup anymore?

[2018-11-15 12:07] andytudhope commented on #135
https://dev.status.im/research/whisper_pss.html

[2018-11-15 12:09] andytudhope commented on #139
Incorrectly closed, definitely still a need for the popup @andmironov

[2018-11-15 12:11] andytudhope commented on #139
No, actually, this issue was right to close. We can track the popup work in #95 and close that once you have submitted it.

[2018-11-15 12:11] #139 closed

[2018-11-15 12:15] andytudhope opened #149 "Mobile design for all docs sidebar"
We need to have a mobile-friendly design for the sidebar in each of the sections of the website.

I think it would be awesome to the docs take the whole page, and then have a drawer that can be pulled in from the right to about 70% width, with the sidebar there in an easily-navigable way.

WDYT @andmironov @hazelyuyang?

[2018-11-15 23:17] #127 closed

[2018-11-16 09:33] sriharikapu commented on #143
Hi @andytudhope 👍🏻

Glad to hear from you. I was able to finish the task. Please have a look at the project [repo](https://github.com/sriharikapu/StatusIM-SwarmImplementation.git).

I had included the code and the results in the Github. If you need more info, I will soon write a Medium article and Youtube tutorial so that it will be easy for others to work on. I will attach those details here latt

[2018-11-16 13:37] andytudhope commented on #143
Amazing ❤️

So, it's it a hot Friday afternoon here and maybe I'm just being thick, but can you remind me why we would want to store any of the html on chain? Isn't this exactly why we would use Swarm - to avoid storing unnecessary content on the mainnet? It also seems expensive, difficult to update quickly (we have a blazing fast CI that allows me to merge PRs and see the changes live in 1 minute

[2018-11-16 14:09] jacqueswww commented on #143
I am not sure why a simple contract is required, last time I checked one would use ENS to point to a mutable swarm hash.

[2018-11-16 17:40] arnetheduck commented on #135
hey, had a look - the gravizo solution kind of works but makes requests to a 3rd-party site, so I guess less than ideal.

the various kinds of charts would be most useful, though I've seen us using math notation as well (mathjax, in hackmd parlance).

I think in general, this is very similar to code-rendering / highlighting - ie a text like ` ```python ` starts a python block, so I would look mayb

[2018-11-16 17:41] arnetheduck commented on #135
also, if we want to upload the docs to sites like swarm, we'll need something that creates static files or inlines images into the html (eg svg)..

[2018-11-17 05:50] sriharikapu commented on #143
Hi @jacqueswww !! Glad to hear from. The reason why am using a simple contract is to **give life to swarm hash**.[_You don't need to modify the everytime when you want a change in your website_] We know the limitations of smart contracts but never less they are what so-called 'Decentralized Logic'. But we can use the limitations of smart contracts to accomplish completely decentralized dynamic hos

[2018-11-17 13:53] sriharikapu commented on #143
Here we go @andytudhope !! We are live on swarm now.

❀ Let's build Web 3.0 ❀

 https://swarm-gateways.net/bzz:/8ee1c7297f606b00a7b0925e0159a9ac8f7ef89cb111875660501bb0bbc5fdea/

[2018-11-17 15:53] leafcutterant commented on #143
@sriharikapu I don't want to pretend that I know all about Swarm, but Swarm feeds (previously called mutable resources) serve exactly this purpose, without storing extra stuff on-chain.

Paging the brilliant @justelad as he can probably explain this in greater depth.

[2018-11-17 15:56] leafcutterant opened #153 "Add APK download link to website"
There really should be convenient way to install Status on Android outside of Google's empire. I propose adding a new download option to the website which links to the latest stable APK build.

[2018-11-17 18:12] nanspro commented on #135
@arnetheduck  please review!!

[2018-11-17 18:18] pablanopete commented on #136
@andytudhope this is not the right link it’s actually - statusphere.status.im/

Prism built this with Shawn and myself and I’ve asked the same questions about open-source which we can chat a bit more about the progressions in that department on a call. Which we are going to 100% move towards as this is just a first iteration.

Let me cc you on an email thread and see if Adam can help with a feed.

[2018-11-19 07:12] samthomson commented on #126
Ready to go with a PR, just awaiting the related issues to be closed and respective PRs merged in. I'm subscribed to them, so will move when they're done.

[2018-11-19 09:09] andytudhope commented on #136
Hello all. Adam did help with a feed, so this is now an issue to

1. Create a `Statusphere` page on the website, and
2. Display the most recent things from the Advocacy program in the current `Announcements` section on the home page of status.im

### Requirements

1a. I have created a new branch for the Statusphere changes and made a skeleton page: https://github.com/status-im/status.im/blob/featu

[2018-11-19 10:40] PierrickGT commented on #136
Hi @andytudhope,
I've applied for this bounty but it looks like Gitcoin is having some problems today since I don't appear in the activity list. At least, there is the comment from the @gitcoinbot on this issue.

[2018-11-19 11:12] andytudhope commented on #136
Please go ahead and start @PierrickGT I will accept you when Gitcoin recovers.

[2018-11-19 14:56] arnetheduck commented on #135
here are samples for flow and sequence:

https://github.com/status-im/status.im/pull/146/files

[2018-11-19 17:34] nanspro commented on #135
@arnetheduck  i don't mind adding support for flow, sequence and mermaid i can start immediately if you are interested in solving those issues!!

[2018-11-19 17:35] nanspro commented on #135
But if you don't want those changes do tell me so that i can close this one on gitcoin.

[2018-11-19 17:46] andytudhope commented on #135
ok @nanspro - just add support for `flow`, `sequence`, `math` and `mermaid` to your already-open PR and I will add a 50 Dai tip to the bounty for each one (i.e. total $200 extra), if that sounds good to you?

[2018-11-20 11:20] chadyj commented on #114
@LaloGarza Will you be able to give the Spanish translations a shot?

[2018-11-20 12:19] andytudhope commented on #114
@chadyj I have adjusted the OP here and turned this into a bounty specifically to get more of the content into those `yml` files, so that it's both the swig files and the sidebar we have translated automatically. Then it's just a case of deciding how best to handle all the `md` technical content. Either way, @LaloGarza could at least start with the sidebar so it's not overwhelming when the rest of

[2018-11-20 12:42] PierrickGT commented on #136
Hi @andytudhope,

Are we supposed to be able to click on the cards in order to access the different programs page? If so, I'll need to be able to retrieve the url of the program from the API. For now, I only have a `uuid` as identifier but it's not the same than on the website.

For example for this link http://status.staging.xpo.network/b/3rscyh/view the `uuid` seems to be `3rscyh` but in the API

[2018-11-20 15:10] andytudhope commented on #136
Oh, that's not good news. Ideally they would be clickable, yes. Go with the `uuid` from the API and we will get them to update their stuff (silly closed source people).

[2018-11-20 15:34] PierrickGT commented on #136
Nevermind, the `uuid` is just different in staging. It's te good `uuid` in production at this url https://statusphere.status.im/

[2018-11-20 23:11] PierrickGT commented on #136
@andytudhope here is a PR with the new Statusphere content: https://github.com/status-im/status.im/pull/155
Let me know what you think. :)

[2018-11-21 10:54] nanspro commented on #135
@andytudhope  the hexo-extension for mermaid is not working properly with `swig, same issue with other supports, they can't be used with swig files so either i'll have to make new extensions for each of them or we can just shift from swig to Nunjucks. I'll have to move all the swig files content to nunjucks.
Also swg is [no longer maintained.](https://www.npmjs.com/package/swig)

[2018-11-21 11:44] andytudhope commented on #135
Yeah, was aware of that... Why Nunjucks and not something like `ejs` which seems to be used across a lot of other hexo themes, just out of curiosity?

[2018-11-21 12:07] nanspro commented on #135
Nunjucks supports more advanced features like block inheritance, includes, layout inheritance and macros  all perfect for a CMS.
And it's more like jinja which i think is more easier to understand and use.

[2018-11-21 12:11] nanspro commented on #135
Nunjucks is recent and i also like mozilla vey much so.

[2018-11-21 12:31] andytudhope commented on #136
Please sumbit you work so I can pay it out through Gitcoin @PierrickGT? @pablanopete the new Statusphere page is ready (will be pushed to the live site soon): https://dev.status.im/contribute/statusphere.html

[2018-11-21 12:33] andytudhope commented on #153
https://dev.status.im/nightly/

[2018-11-21 12:33] #153 closed

[2018-11-21 12:35] andytudhope commented on #135
OK cool. So, here's what I'm gonna do. I will merge your PR for `grpahviz`, open a new bounty issue to change swig to Nunjucks and then open another bounty after that for `flow`, `sequence` and `mermaid` support. Sound good to you?

[2018-11-21 12:36] #135 closed

[2018-11-21 12:38] andytudhope opened #156 "Move all .swig files to Nunjucks so we can support better rendering"
This is a bounty issue for @nanspro to change all our swig files to Nunjucks as swig is no longer maintained, Nunjucks is far more extensible and better, and it will allows us to support critical things like `flow`, `sequence` and `mermaid` MD renderers so that our docs are truly awesome.

## Requirments

Change all swig files to Nunjucks. The site should otherwise look and behave exactly the same

[2018-11-21 12:40] #136 closed

[2018-11-21 12:41] andytudhope commented on #135
Here your next issue is @nanspro https://github.com/status-im/status.im/issues/156

[2018-11-21 12:43] nanspro commented on #135
Dibs on those two bounties :)

[2018-11-21 12:51] andytudhope commented on #114
Hey @millnitzluan - it seems like we might have a problem here. We need to move away from `swig` files because they are longer supported and don't offer us the MD support we need for really great docs: #156

Could you please hold off on this until that issue is solved, and then we can relook at how we handle translations for the site.

[2018-11-21 12:55] PierrickGT commented on #136
Thank you @andytudhope, I'll do this tonight.

[2018-11-21 14:45] andytudhope commented on #126
Hey @samthomson - the other sites are finally done, let's get this bad boy in before we try move all the `swig` files to something more extensible: #156

[2018-11-21 16:16] justelad commented on #143
Hello Dearies, Swarmer here to support <3

Indeed Feeds are what you're looking for in order to reduce on-chain updates. They're simple and work marvellously well. You could ping me on Status on `elad.stateofus.eth` or join the `#swarm` channel to get some support in your own back-yard <3

[2018-11-21 18:41] andytudhope commented on #143
Hello @justelad - this is why you're my favourite ❤️ Sending love from Africa!

[2018-11-21 19:35] millnitzluan commented on #114
Sure, no problems! Can you only silence the gitcoin bot?

[2018-11-21 19:52] PierrickGT commented on #136
@andytudhope I've submitted my work, here is the transaction: https://etherscan.io/tx/0x60380c578b5c1a8f13fed365942c6058282057cd4e8a5e823623907533fc28bc
It should appear on the Gitcoin issue in any minute.

[2018-11-22 09:19] asemiankevich opened #157 "Add builds timestamp back on the main page"
I want to see the timestamp at https://status.im/nightly/ when builds were generated so I am not confused do i use the recent one or not. Also it could indicate that nightly was not built in timely manner.

we did have this shown on previous web page. Please bring it back

[2018-11-22 09:21] chadyj commented on #157
ping @jakubgs
Now it says `UPDATED: 2018/10/12 03:24:26 UTC`

[2018-11-22 09:23] jakubgs commented on #157
Well, that's because it's hardcoded right now:
https://github.com/status-im/status.im/blob/develop/themes/navy/layout/nightly.swig#L46
Should be a simple fix.

[2018-11-22 09:24] asemiankevich commented on #157
@jakubgs can we make this more visible too? Hardly noticed that small text (

[2018-11-22 09:34] chadyj commented on #157
I didn't test the code but the change looks good 👍

[2018-11-22 09:42] #157 closed

[2018-11-23 12:54] chadyj opened #162 "submodule problems building locally"
I get errors when running `git submodule update --init --recursive` as directed in the readme.

[code]

[2018-11-23 13:48] chadyj commented on #114
Kudos @LaloGarza!
The Spanish sidebar is online at https://dev.status.im/es/docs/

[2018-11-23 13:49] chadyj commented on #114
New translations only need to go into en.yml. Once there they will automatically show up in Lokalise for translation and export.

[2018-11-23 19:02] millnitzluan commented on #114
@andytudhope and @chadyj  can I start work on that?

[2018-11-26 11:03] andytudhope commented on #162
That looks more like a weird `git` error than anything else to me... @jakubgs? I can't reproduce locally...

[2018-11-26 11:05] andytudhope opened #165 "Implement site-wide search functionality"
This is an issue for @jakubgs.

1. Write a hexo plugin to index this site, which can be done in the build step.
2. Use an open source solution, i.e. elasticsearch, and a JS library to store and then fetch relevant search results.
3. Add necessary perms to ES cluster.
4. (Hopefully) we can implement some autocomplete functionality too.

[2018-11-26 14:10] samthomson commented on #126
I've created three PRs on the three relevant repos;
Studio: https://github.com/status-im/studio.status.im/pull/8
Nimbus: https://github.com/status-im/nimbus.status.im/pull/22
Incubate: https://github.com/status-im/incubate.status.im/pull/11

Each is more or less the same, so I'll summarise here (and shouldn't be too different to the work carried out here by @andytudhope: https://github.com/status-

[2018-11-27 13:10] andytudhope commented on #156
@nanspro please can we get an update here, as this issue is blocking others...

[2018-11-27 13:15] nanspro commented on #156
@andytudhope  today i have some project evaluations and stuff but i am completely free after tomorrow, so i'll start working from then.

[2018-11-28 08:41] andytudhope commented on #162
@chadyj are you still struggling with this error?

[2018-11-28 08:42] andytudhope commented on #50
Is this ever going to happen @adambabik or can I close here?

[2018-11-28 08:42] andytudhope commented on #49
@antdanchenko can you please update here, or can I close this?

[2018-11-28 08:46] andytudhope commented on #126
Thank you @samthomson ❤️ There's a lot more work to be done everywhere, so let me know what you'd most like to tackle next. Some awesome design components in our Storybook maybe, or perhaps a helping hand with status-js-desktop (which is a new and exciting thing)?

[2018-11-28 08:46] #126 closed

[2018-11-28 08:47] adambabik commented on #50
Please leave it, I will handle that. I need to do "docs day" :)

[2018-11-28 08:54] chadyj commented on #162
Thanks for checking in.
Yeah looks like it was something weird with my GitHub ssh setup.  All good now. 👍

[2018-11-28 08:54] #162 closed

[2018-11-28 13:58] samthomson commented on #126
No worries, happy to help.
I'll clone a few interesting status repos and once I've built them locally I'll look around for anywhere that I could help.

I think there's still more I could tune on the static sites:
- put more stuff in shared repo: html & js
- minor css fixes
- documentation standardisation

If it's okay with you I'll create some issues and you can close them or assign me.
It would b

[2018-11-28 14:03] andytudhope commented on #126
Sounds perfect to me @samthomson - please go ahead and create whatever issues you can in this repo and I will assign them to you.

Looking forward to hearing about your experience in the other repos. Status-js-desktop is brand new, so no ideal beginner issues there afaik, but am sure @iurimatias has some ideas he could point to. I'd also be interested to discuss intrinsic vs extrinsic motivation w

[2018-11-29 09:14] samthomson opened #167 "move navigation popups into shared repo"
The HTML comprising the popups (community/project menu items) is duplicated across each static site. I propose sharing it as a partial in one of two ways:
- it's own standalone partial
- add it to the existing top-nav partial which is logically related

I'll look at what works best and submit a PR if assigned.

[2018-11-29 09:18] samthomson opened #168 "Share some JS across sites, reduce duplicity"
For example, the JS to show/hide top navigation popup menus (community/projects) is replicated on each static site, but is the same. I expect there is more JS which could be clunked together in one shared asset. This would reduce the maintenance overhead and chance of bugs  hanging around (eg. dev thinks they're fixed but hasn't fixed them everywhere..).
I would like to look at the best way to do

[2018-11-29 09:24] samthomson opened #169 "tweek header nav popup z-index"
It seems the popups don't have a high enough z-index to clear all other html content. I noticed this on the live studio site: https://studio.status.im/

I'd like to take a look at this if assigned, perhaps it will lead me to tweeking the css/sass, and if the issue can best be resolved with a shared resource (and not separately on each site), I'll look at folding the css/sass into a shared module.

[2018-11-29 09:41] samthomson opened #171 "broken/missing and/or inconsistent mobile/responsive header nav across static sites"
Created here but actually it relates to all static sites and possibly the shared-partials repo.
On small screens the navigation is inconsistent. Some sites miss it altogether. On some the mobile menu is triggered by clicking 'more', and on some there is a hamburger button.
- How should it appear? (more, hamburger, something else)
- should it be standardise?

Answer the above two and assign me and

[2018-11-29 13:34] andytudhope commented on #171
Hey @samthomson - I took on this one, just because there was a lot that needed doing behind the scenes.

Due to current market conditions, we are no longer going to pursue Studio actively, so I had to remove it from all relevant places (still need to figure out what to put on the home page in its place). Which means we don't need to worry about that site.

Then, I updated both Nimbus and Incubate.

[2018-11-29 14:09] samthomson commented on #171
Okay good stuff.
Market conditions: C'est la vie. "change is the only constant", maybe it comes around again later, let's see.
Will start on the others :dart:

[2018-11-29 14:15] #171 closed

[2018-11-29 14:36] andytudhope commented on #167
Fixed by https://github.com/status-im/status.im-partials/commit/ef5db8a4de18fe58b1e5e44c7b7f965b13850a91

[2018-11-29 14:36] #167 closed

[2018-11-29 15:32] #51 closed

[2018-11-29 22:14] andytudhope commented on #114
sorry @millnitzluan - hopefull @nanspro will be done with #156 soon 👍

[2018-12-03 09:12] samthomson commented on #169
I have created two PRs on the respective repos to address this issue:
- https://github.com/status-im/incubate.status.im/pull/13
- https://github.com/status-im/studio.status.im/pull/9

Small CSS tweak to each did the trick.
I also considered breaking out the css into a shared module of sorts. Since there is a lot of shared Sass/CSS this wouldn't be a bad idea. Although it should be a task in itself

[2018-12-03 10:31] samthomson commented on #168
@andytudhope I think it should be possible to put shared JS in a shared repo to include as a submodule to each static site. Could you create a repo for this purpose (e.g. 'status.im-js' to be inline with the existing 'status.im-partials'). I could then push a shared js file (and read me), then update each respective static sites repo (gulp file, and existing js).

[2018-12-03 11:36] andytudhope commented on #168
Here you go @samthomson https://github.com/status-im/status-im-js ❤️

[2018-12-03 16:59] jakubgs commented on #165
Here is a prototype for search using the [jquery-marcopolo](https://github.com/jstayton/jquery-marcopolo) library:
https://gist.github.com/jakubgs/688d9263376f9eca98588afc214c4f7e

[2018-12-03 18:04] jakubgs commented on #165
And with the use of the [Edge Ngram](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-edgengram-tokenizer.html) Tokenizer we now also have partial word searches on titles too:
[code]
[code]
We can also enable those for tags, categories, and excerpts later, but we shouldn't do that for the whole raw markdown of posts.

[2018-12-04 11:11] andytudhope commented on #156
@nanspro just let us know what's happening when you can. Seems like most of the work has been done already here: https://github.com/hexojs/hexo/pull/2903/files

[2018-12-06 04:09] nanspro commented on #156
@andytudhope sorry for being unresponsive for last several days, i was not physically well but now i will consider this issue as a top priority!!
I tried many custom renderers before but they didn't work, it was not compiling at all.
Yes, i saw that hexo itself is trying to change default engine to nunjucks and this PR is pending from last year but it became active yesterday so i'll use this rende

[2018-12-06 11:14] antdanchenko commented on #49
@andytudhope yes, I am on it, documentation always gets the lowest priority, sorry for that

[2018-12-06 14:13] andytudhope commented on #156
Let me know how work with that renderer goes first. Would ejs support `flow`, `sequence` and `mermaid` renderers for our md docs (seeing as that is the main goal here).

[2018-12-07 05:40] nanspro commented on #156
Looks like nunjucks won't work so i am converting them to ejs!!
Yes ejs definitely supports mermaid, flow, sequence.

[2018-12-07 09:12] andytudhope commented on #156
OK then, let's go for it.

[2018-12-07 13:03] chadyj commented on #95
Desktop alpha is coming next week. I'll create a new issue adding the new designs above.

[2018-12-07 13:03] #95 closed

[2018-12-10 03:00] nanspro opened #188 "Overlapping of different components, UI is broken"
![screenshot from 2018-12-10 08-27-02](https://user-images.githubusercontent.com/24641089/49708486-d9b90080-fc55-11e8-818b-92723e95897c.png)
![screenshot from 2018-12-10 08-27-12](https://user-images.githubusercontent.com/24641089/49708492-db82c400-fc55-11e8-8f6d-aef0a404880a.png)
![screenshot from 2018-12-10 08-27-27](https://user-images.githubusercontent.com/24641089/49708493-dd4c8780-fc55-11e8-

[2018-12-10 07:57] asemiankevich commented on #188
@jakubgs @mandrigin @chadyj ^ not sure who is responsible for such issues

[2018-12-10 08:44] jakubgs commented on #188
Partials are broken:
https://ci.status.im/job/misc/job/status.im/200/consoleFull
[code]

[2018-12-10 08:44] jakubgs commented on #188
Interestingly enough the build did't fail despite missing partials.

[2018-12-10 08:48] jakubgs commented on #188
Oh, I see, partials submodule is pointing at `431b1aa` commit:
https://github.com/status-im/status.im/tree/develop/themes/navy/layout/partial
Which is pretty old:
https://github.com/status-im/status.im-partials/commit/431b1aa772738a9152fe71a3f426d4d9db81a43c
26 days old.

[2018-12-10 08:49] jakubgs commented on #188
Oh interesting, it was my commit  from 4 days ago that touched partials:
https://github.com/status-im/status.im/commit/abd8be1174c50711f330f24e6ea06151018ce4be
Even though I didn't change anything in them.

[2018-12-10 08:53] jakubgs commented on #188
Fixed with updating partials submodule at newest commit:
https://github.com/status-im/status.im/commit/554531aecf05960798288560d3b47a3e7d4be75a

[2018-12-10 08:56] jakubgs commented on #188
It's annoying how easy it is to commit a submodule change without noticing. This has happened a few times already. Maybe there is a way to warn about it.

[2018-12-10 08:57] asemiankevich commented on #188
@jakubgs testing? :)

[2018-12-10 08:58] jakubgs commented on #188
Also, it makes no sense that hexo finished building without errors despite missing parts of theme. This needs to be changed too.

[2018-12-10 08:59] jakubgs commented on #188
Explain?

[2018-12-10 09:03] asemiankevich commented on #188
i am just asking if testing can help from any point to help with

[2018-12-10 09:04] jakubgs commented on #188
I don't think an automated test could check for this. How would a test know if a submodule change is valid or not?

Also, it's sad that we hav eto use submodules in the first place:
https://codingkilledthecat.wordpress.com/2012/04/28/why-your-company-shouldnt-use-git-submodules/

They are pretty flimsy.

[2018-12-10 09:17] jakubgs commented on #188
I see no clear way of making hexo fail when partials are missing so I've opened this:
https://github.com/hexojs/hexo/issues/3384
We'll see what they say. For now I'm closing this.

[2018-12-10 09:17] #188 closed

[2018-12-10 09:49] jakubgs commented on #188
I guess one way would be to install [git-hooks](https://www.npmjs.com/package/git-hooks) and add a check when submodules are changed. Ask user for confirmation.

[2018-12-10 11:12] jorisbontje opened #189 "Get Desktop download links points to outdated nightly"
The nightly build download links on https://status.im/get_desktop/ are of 2018-10-25

I'd suggest to not give a download link at all or point to the most recent nightly, the current outdated link is confusing.

Related to https://github.com/status-im/status.im/issues/95

[2018-12-10 11:57] millnitzluan commented on #114
@ryan-shea  I'm waiting the #156 to be closed to start working :D

[2018-12-10 14:37] nanspro commented on #114
@millnitzluan you'll have to wait until my PR gets merged :P

[2018-12-11 07:50] asemiankevich commented on #188
@jakubgs the ui is still broken

[2018-12-11 08:16] jakubgs commented on #188
The fact that header encroaches on nightlies links is a CSS issue, not a missing partial issue.

[2018-12-11 08:17] asemiankevich opened #190 "Fix nightly page"
@andytudhope please assist with CSS issues there

![image](https://user-images.githubusercontent.com/28752642/49786883-40ade680-fd36-11e8-8f0b-f7e9a0d49bfc.png)

[2018-12-11 08:24] mandrigin commented on #188
@jakubgs but who wrote this CSS?

[2018-12-12 03:58] samthomson commented on #169
Any input on the two related PRs? Merging them will close this issue :upside_down_face:

[2018-12-12 15:34] nanspro commented on #114
@andytudhope where are you man ?

[2018-12-13 01:41] pablanopete commented on #114
Hey @nanspro Andy is OOO for a bit;  will try and get someone in here to review this ASAP @andmironov can you lend a hand with review or possibly @richard-ramos?

[2018-12-13 03:48] nanspro commented on #114
@pablanopete any idea when he'll be back as i was supposed to do one more issue after this one?
Ohh yes the issue is #156 , and there are two two PR's [1](https://github.com/status-im/status.im/pull/187) [2](https://github.com/status-im/status.im-partials/pull/4)

[2018-12-13 12:53] asemiankevich commented on #190
@andmironov maybe you can assist here? Quite ugly (

[2018-12-13 12:56] andmironov commented on #190
hey, not sure yet unfortunately, currently focused on app-related tasks

[2018-12-14 15:33] #156 closed

[2018-12-16 03:41] StatusSceptre commented on #114
Sure; just handled this with @richard-ramos @nanspro!

[2018-12-16 03:42] StatusSceptre commented on #114
Issue #156 is completed now @millnitzluan can you start working on this now?

[2018-12-17 14:31] oskarth opened #194 "Move ARDs from status-react to here"
https://github.com/status-im/status-react/tree/develop/doc/decisions

They probably belong here instead. Create a page such as "Documenting our decisions" with these linked.

Also cc @jeluard and @corpetty fyi

[2018-12-24 07:04] andytudhope commented on #188
My apologies for poor CSS 😜 Was never really my strong suit. Also, @jakubgs we did do a bunch of research with @samthomson on submodules vs subtrees vs npm packages and thought the submodules was likely the most robust (even if still not ideal): https://github.com/status-im/status.im/issues/106#issuecomment-436178708

[2018-12-24 09:20] samthomson commented on #188
Splitting up repos is complicated. @jakubgs that article lists several alternatives to submodules although also lists the faults with each - thus the specific advantage of each alternate approach seems a moot point. I feel like there is no silver bullet. Although I do see the pain points of using submodules. If not implemented carefully submodules are frustrating to say the least. I wonder if it's

[2018-12-24 12:21] nanspro commented on #156
@andytudhope this one is closed!! So should i start working on the adding mermaid, flow, sequence ??

[2018-12-25 00:44] pablanopete opened #195 "Get status website ready for desktop alpha release"
Scope TBD

[2018-12-26 12:57] rachelhamlin commented on #195
This is the current desktop download screen: https://status.im/get_desktop/

TO DO

1. Add/update links to all builds

2. Add disclaimer about Alpha status. Somewhere we need to add:
`This is alpha software and may contain vulnerabilities. Please expect changes.`

[2018-12-27 14:40] rachelhamlin commented on #195
Build links-

macOS: https://ci.status.im/job/status-react/job/combined/job/desktop-macos/4971/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.dmg

Linux: https://ci.status.im/job/status-react/job/combined/job/desktop-linux/4958/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.AppImage

Windows: https://ci.status.im/job/status-react/job/combined/job/desktop-windows/144

[2019-01-01 01:56] noman-land commented on #195
Hey, I'm attempting to make these updates but having some trouble navigating all the submodules in this repo on my fork. Based on the README, the idea of the develop branch is to be able to be more liberal with who can commit. Any chance I could get commit access here so I don't have to maintain my own fork?

[2019-01-01 01:58] pablanopete commented on #195
@oskarth @naghdy can you help with adding @noman-land to this repository?

[2019-01-04 19:54] speedyFixer opened #198 "Outdated "Extend Your Chat" tutorial"
Hi, I'm learning how add extensions so I followed the docs and I found some problems with the "Extend Your Chat" tutorial.

"hooks/commands.dtwitter" must be changed with "hooks/chat.command.dtwitter"

I'm checking for more problems in the tutorial, I will update this issue if I found more and later I will make a PR with updated version.

[2019-01-05 09:10] jeluard commented on #198
@speedyFixer Thanks for your PR!

[2019-01-05 09:10] #198 closed

[2019-01-06 05:59] mattatgit commented on #189
Related: Mac desktop client download link on https://dev.status.im/get_desktop/ is currently broken

https://status-im.ams3.digitaloceanspaces.com/StatusIm-181025-083129-0bc9fb-nightly.dmg

[2019-01-07 09:42] andytudhope opened #200 "Add support for Flow, Sequence, Mermaid and Math MD rendering"
See #156 for full details. This is a bounty to add support for more advanced MD rendering with the evetual goal of having our docs be able to render anything HackMD can.

The bounty is intended for @nanspro but if they don't claim it this week, we can open it to any and all comers.

[2019-01-07 09:43] andytudhope commented on #156
Hello @nanspro ❤️ I have returned from my break and would love you to start working on adding support for those. Here is your bounty issue: https://github.com/status-im/status.im/issues/200

[2019-01-07 09:49] andytudhope commented on #114
Ok @millnitzluan I am back and badder than ever... How are you going with tackling this issue? Apologies for the long delay here - I really needed some time off ❤️

[2019-01-07 16:01] nanspro commented on #200
@andytudhope  please approve!!

[2019-01-07 16:15] #195 closed

[2019-01-07 16:47] StatusSceptre opened #204 "Remove unnecessary project cards"
As we no longer have
Status Incubate
Status Studio

They should be removed from the site.

[2019-01-07 19:41] millnitzluan commented on #114
I'm back too, I think that this week I finish this task.

[2019-01-08 16:40] speedyFixer opened #209 "Typos in build_status"
Hello, I found two typos in "index.md" from build_status directory.

branch: develop
commit: fc94d35

I'm going to make a PR for fix them.

[2019-01-08 22:40] pablanopete commented on #209
Heh; the word in question is actually tongue in cheek for the famous "BUIDL" in ethereum. So this wasn't necessarily a typo but rather a ode to BUIDL.

Though the meme is probably played out at this point https://twitter.com/hashtag/buidl?lang=en

The make run commit looks like a solid catch though!  Thanks for contributing :)

[2019-01-08 22:50] NukeManDan opened #211 "Add website listing of gpg and sha256 checks for builds"
I am aware that .sha files exist for builds

[https://status-im.ams3.digitaloceanspaces.com/index.html ](https://status-im.ams3.digitaloceanspaces.com/index.html)

It would be super great when you get a chance to have this easily listed on the download page to verify via sha256 and possibly bundled with the downloads themselves easy verification for your users :)

Also a gpg key so we can know you

[2019-01-09 09:08] #209 closed

[2019-01-09 14:03] yuchi opened #214 "Undefined month in Latest News widget in homepage"
### See screenshot 👇👇👇

<img width="392" alt="schermata 2019-01-09 alle 15 01 41" src="https://user-images.githubusercontent.com/646609/50904054-9b169180-141f-11e9-969d-1b571b782759.png">

[2019-01-10 16:15] StatusSceptre opened #215 "Replace Advocacy webhooks"
The advocacy statusphere API webhooks need to be removed from main webpage and replaced with something else.

Scope TBD.

[2019-01-10 16:19] StatusSceptre commented on #215
@PierrickGT we're making some changes to the main page, would you be interested to help if we bounty on this issue to change to a live feed of discuss threads like previous mentioned in #136

[2019-01-11 04:08] speedyFixer opened #216 "Outdate code in extensions/examples.md"
Hi, I found some outdated code in Ethereum logs tests example.

"on-result" was removed in https://github.com/status-im/status-react/pull/7092 in favor of "on-success" and "on-failure"

When I click on "Modify" in extensions/examples.md:

I get an outdate code because "on-result" doesn't exist anymore. We need change "on-result" with "on-success" in develop branch.

[2019-01-11 07:05] #216 closed

[2019-01-11 15:57] #165 closed

[2019-01-14 09:57] samthomson opened #219 "local build/serve not working due to undefined elasticsearch stuff."
![image](https://user-images.githubusercontent.com/6588340/51106057-4eff8e80-181d-11e9-9c71-a79ad7a6feb0.png)

As per the read me I `npm i` and then build (`./node_modules/.bin/gulp build`) and serve (`./node_modules/.bin/hexo serve`)

building works, but serving leads to the error in my console above, and the site not loading/rendering.

Observed on **develop**  branch

[2019-01-14 09:58] samthomson commented on #219
Just me or can anyone else reproduce?

[2019-01-14 10:23] andytudhope commented on #219
@jakubgs we're trying to move as much of the shared JS between sites as we can into a common repo. Would be pretty cool to have the elastic search indexing everything from all sites and allow me to find an article about Nimbus from the main Status site (for instance). wdyt? Asking too much? 😛

[2019-01-14 11:14] samthomson commented on #219
Thanks @jakubgs :upside_down_face:
Got it working and can close this issue.

[2019-01-14 11:14] #219 closed

[2019-01-15 20:15] StatusSceptre commented on #148
@g-laz77 you've  been approved to start work

[2019-01-18 09:02] PierrickGT commented on #215
Hi @StatusSceptre,
Sorry for seeing your message only now.
I'm indeed interested to help implement a live feed of discuss threads.
I'm gonna apply to the Gitcoin bounty now.

[2019-01-18 20:37] speedyFixer opened #222 "ethereum/logs arguments outdated in extensions/reference_events.md"
Hi, I'm attempting to use ethereum/logs event in custom extension and after too time I realized that arguments are outdated so in status-react arguments always got nil before of RPC call.

[2019-01-19 12:13] #222 closed

[2019-01-21 22:16] StatusSceptre commented on #215
I see there's documentation for the webhooks on discourse here https://meta.discourse.org/t/setting-up-webhooks/49045/8

Let me know if you'd still like to work on this bounty @PierrickGT or @wawhal otherwise.

[2019-01-22 12:53] PierrickGT commented on #215
@StatusSceptre I've looked a bit at the documentation you've suggested but I don't think we need to setup a webhook in order to retrieve the latest topics.
The Discourse API maybe enough to do so: https://docs.discourse.org/#tag/Topics%2Fpaths%2F~1latest.json%2Fget

So I've done a GET request to the following endpoint `https://discuss.status.im/latest.json` to get the data but I'm having a CORS no

[2019-01-22 16:16] jakubgs commented on #215
Okay, it should be fixed now:
[code]
https://github.com/status-im/infra-misc/commit/30ba49524bd916f31210edece9f3ee46c2d0c273

[2019-01-22 16:35] PierrickGT commented on #215
Thank you @jakubgs but this will only work once the site is live, I would need to have `http://localhost:4000` authorized in order for it to work in development mode.

[2019-01-22 16:39] PierrickGT commented on #215
Thank you @jakubgs, it's working.

[2019-01-22 16:40] jakubgs commented on #215
Fair enough: https://github.com/status-im/infra-misc/commit/da4729d1f95ecb0cc1b2f7bc44cccbbd5ac557e4
[code]
Done.

[2019-01-22 22:31] PierrickGT commented on #215
Here is the PR: https://github.com/status-im/status.im/pull/224
I've retrieved the new data from Discuss and also fixed the date formatting using Moment.js

[2019-01-23 03:34] speedyFixer opened #225 "Consider rlwrap installation on make setup"
Hi, I'm on a new fresh installation of Ubuntu 18.04.1 LTS, I followed all the guide "Build Status", when I run "make startdev-android-avd" command I get "Please install rlwrap for command editing or use "clojure" instead."

So maybe in the make setup we can add:

"sudo apt install rlwrap"

[2019-01-24 09:02] PierrickGT commented on #215
Thank you for approving the PR @andytudhope.
@StatusSceptre I'll submit my work on Gitcoin tonight.

[2019-01-26 01:37] Sprimage commented on #148
Hi @StatusSceptre is this issue still active with the bounty?

[2019-01-27 00:01] StatusSceptre commented on #148
@andytudhope Is this bounty still relevant?

[2019-01-27 00:02] StatusSceptre commented on #114
@millnitzluan are you still  working on this?

[2019-01-30 02:55] ryan-shea commented on #200
hey @nanspro, any updates on this? ryan from gitcoin checking in :)

[2019-01-30 02:57] ryan-shea commented on #114
@andytudhope @millnitzluan any updates here ? 😄 ryan from gitcoin checking in.

[2019-01-31 16:27] krisc opened #230 "Update documentation for view components"
@jeluard suggested I update the documentation for view components on this page (https://status.im/extensions/reference_views.html) to reflect the latest improvements.

@StatusSceptre I can finish this in less than a day.

[2019-01-31 17:36] nanspro commented on #200
@ryan-shea @andytudhope i was very busy with some tasks, will consider it as top priority and start working immediately!!

[2019-02-04 18:06] krisc commented on #230
@StatusSceptre I can do this along working with #7354 if you still want to put a bounty on it.

[2019-02-04 18:22] StatusSceptre commented on #230
@krisc glad to approve once you apply! Would be really happy to see you apply for  https://our.status.im/announcing-statusphere-ambassadors/ as well as it seems you have a desire to help out our documentation and development progress.

[2019-02-04 18:23] StatusSceptre commented on #169
@samthomson sorry for the  long response! assigning someone to review!

[2019-02-04 18:24] StatusSceptre commented on #169
@andytudhope or @richard-ramos could you do a quick review on these PR's when you have a moment?

[2019-02-04 18:34] krisc commented on #230
@StatusSceptre I'm definitely interested in applying to be an ambassador! I'd love to see this project improve and do what I can to help with that. Is there some sort of salary/stipend in being an ambassador?

[2019-02-04 18:43] bitsikka commented on #230
@krisc as a part of statusphere looking forward to journey forward with you.

Just started following you here in github, as I know I can learn much from you.

[2019-02-04 18:55] StatusSceptre commented on #230
@krisc Participants in the ambassador platform work on a volunteer basis, but there are opportunities to get involved in earlier stage projects, peer recognition across the ecosystem & more.

[2019-02-04 19:06] krisc commented on #230
@StatusSceptre Sounds good. I'll submit an application later today.

[2019-02-05 07:21] samthomson commented on #169
no worries :upside_down_face:

[2019-02-05 21:02] krisc commented on #230
I made a new PR to avoid confusing myself lol. Here it is https://github.com/status-im/status.im/pull/236

[2019-02-08 16:27] StatusSceptre commented on #230
@krisc the payment never went  through because of  gas fluctuations, am resubmitting.

[2019-02-11 16:41] jonathanbarker opened #238 "Broken links on https://status.im/docs/FAQs.html"
The links in the "would like to contribute to the project, where would you suggest I start?" section don't seem to be working, specifically these 2:

"If you’re a DApp developer, head over to those [1] docs. If you are a mobile developer yourself and love functional languages, then build Status [2] yourself and start submitting those PRs."

Both return a 404 error for their links:
https://status.i

[2019-02-14 09:42] andytudhope commented on #169
Hey @samthomson ❤️Both Studio and Incubate have been put on ice for the time being given recent budgetary constraints, but thank you so much for these nevertheless. When/if they are revived, I will review and merge 👍

[2019-02-14 09:51] andytudhope commented on #148
I was hoping that @coeniebeyers might be willing to take it up, but it seems he has got very busy again 😢

[2019-02-14 12:21] samthomson commented on #169
Hey @andytudhope no worries, I see I submitted a PR for this on Dec 3rd, so I might guess they were still on the table back then. Hit me up with any current issues if need be :upside_down_face:

[2019-02-14 12:21] #169 closed

[2019-02-19 05:39] nanspro commented on #200
@andytudhope  please checkout my PR :smile:

[2019-02-20 16:01] #230 closed

[2019-02-22 08:18] nanspro commented on #200
@richard-ramos could you review my PR's for this issue or maybe ask @andytudhope  to do it ?
I think he is out for a while

[2019-02-22 12:01] richard-ramos commented on #200
I'll have a look!

[2019-02-25 09:02] andytudhope commented on #200
OK cool, I merged that happily @nanspro - what about `flow` and `sequence` support though?

[2019-02-25 09:06] nanspro commented on #200
@andytudhope  see my other [PR,](https://github.com/status-im/status.im/pull/245) mermaid supports flow and sequence diagrams alongside Gantt, gitgraph.

[2019-02-27 08:21] nanspro commented on #200
@andytudhope  did you check it out?

[2019-03-04 07:58] #200 closed

[2019-03-12 12:20] annadanchenko opened #250 "Update https://status.im/get_desktop/ and https://status.im/stable/ with links to 0.10.1 build 30 artefacts"
Currently https://status.im/get_desktop/ and https://status.im/stable/  contain links to older Desktop versions.

We have tested Desktop builds from https://ci.status.im/job/status-react/job/release/job/release%252F0.10.x/30/ and they are good enough to be called new stable. We also need this fresh version because after merging https://github.com/status-im/status-react/pull/7670 on March 18 older

[2019-03-12 13:40] andytudhope commented on #250
https://github.com/status-im/status.im/commit/bf63188b8d2f30d7200b0d96fcc986bbeae26264

Build should be complete in the next minute 👍

[2019-03-12 17:29] annadanchenko commented on #250
@andytudhope re-opening as there are no changes on https://status.im/get_desktop/ and https://status.im/stable/  there are still old links:
1. on get_desktop there are links with StatusIm-190207-165357-d58fb5-release instead of expected StatusIm-190305-152317-ff3c9d-release
2. on https://status.im/stable/ there are links to  StatusIm-190207-165357-d58fb5-release

[2019-03-13 07:42] andytudhope commented on #250
I have updated manually for now. @jakubgs could you check why the stable stuff is not updating (is it just because it needs a specific link, not necessarily the latest?) and what's happening with the desktop links?

[2019-03-18 10:36] jakubgs commented on #250
The `/get_desktop` page clearly takes the URLs from the `sources/_data/releases.yml` file:
https://github.com/status-im/status.im/blob/0818c818402d3f3d6b19b996fa609eb0b9c44eb7/themes/navy/layout/get_desktop.ejs#L15-L21
So that file has to have the correct URLs.

[2019-03-18 10:38] jakubgs commented on #250
Oh, and to what @andytudhope said, the `releases.yml` file is not currently being auto updated. I've removed that before my vacation in https://github.com/status-im/status.im/commit/ab064acfc56df1a7aaccab647ff300f0c781e678 when I remove the `releases` task from the `build` and `run` tasks sequence.

[2019-04-02 10:46] jakubgs commented on #250
I'm pretty sure this is already done. Closing.

[2019-04-02 10:46] #250 closed

[2019-04-16 11:01] jakubgs opened #268 "Site Overhaul Prep"
Here I'll be tracking progress of switching our site to the new overhauled version created by @NistorCristian at https://github.com/NistorCristian/status.

[2019-04-16 11:04] jakubgs commented on #268
I've created the [nistor-christian](https://github.com/status-im/status.im/tree/nistor-christian) branch to test out his changes by doing:
[code]

[2019-04-16 11:21] jakubgs commented on #268
Also had to adjust `Jenkinsfile` conditional:
https://github.com/status-im/status.im/commit/09b330352cac1ab0a4ee420164dbdc027d5b057c

[2019-04-16 11:22] jakubgs commented on #268
I can already see some issues with the repo.

For example @NistorCristian replaced the `shared-partials` git submodule with a regular folder:
https://github.com/NistorCristian/status/tree/master/themes/navy/layout/partial/shared-partials
But left the `.gitmodules` file unchanged:
https://github.com/NistorCristian/status/blob/master/.gitmodules

[2019-04-16 11:24] jakubgs commented on #268
Same goes for `themes/navy/source/js/shared-js`:
https://github.com/NistorCristian/status/tree/master/themes/navy/source/js/shared-js

We'll have to fix this before we deploy.

[2019-04-16 11:46] jakubgs commented on #268
And ran a manual build:
https://ci.status.im/job/misc/job/dev.status.im/689/
So now the new site is deployed at:
https://dev.status.im/
Seems to be looking good, or at least as far as I can tell it looks the same as:
https://status.hauntedthemes.com/

[2019-04-16 11:48] NistorCristian commented on #268
Any idea if in hexo we can put a robots.txt that disallows this domain? https://dev.status.im/

[2019-04-16 11:49] jakubgs commented on #268
For now the `nistor-christian` branch has the changes under `shared-js` and `shared-partials` just commited directly into the repo for the sake of the test, but for the real merge we'll need to split out those changes to their respective repos:

* https://github.com/status-im/status.im-partials
* https://github.com/status-im/status.im-js

[2019-04-16 11:51] jakubgs commented on #268
Sure we can. We'd need to add something like:
[code]

[2019-04-16 11:52] jakubgs commented on #268
Although I don't know if adding that in Hexo makes sense. I think it would make more sense to add it in the deployment process in the `Jenkinsfile` since it depends on where it's being deployed. Prod shouldn't have that file.

[2019-04-16 11:59] jakubgs commented on #268
Done: https://github.com/status-im/status.im/pull/269

[2019-04-16 13:30] RyRy79261 opened #271 "Incomplete documentation: Debugging dapps"
### Description

The documentation for debugging specifies being connected to the same wifi and having developer mode turned on however there are no other instructions on how to connect to a machine to inspect the dapp

https://status.im/developer_tools/debug.html

[2019-04-16 15:36] harryfei opened #272 "Can we add cross app communication api for other mobile app?"
Both iOS and Android have cross app communication mechanism. Can we implement some APIs for other mobile to leveraging the ETH wallet by using them.
The other app may want to:
* Use the ETH account address as account
* Sign blockchain transaction.

[2019-04-16 15:41] jeluard commented on #271
Follow the `guide` link. It's regular chrome remote debugging.

[2019-04-16 15:41] #271 closed

[2019-04-16 15:49] harryfei commented on #272
Sorry, wrong repo.

[2019-04-16 15:49] #272 closed

[2019-04-16 16:58] RyRy79261 commented on #271
Hi @jeluard

Where within my dapp or the Status app on my phone am I to insert the code outlined by the guide link? ```  import android.webkit.WebView;

  @Override
  public void onCreate() {
    super.onCreate();
	  ...
    WebView.setWebContentsDebuggingEnabled(true);
  }```

[2019-04-16 17:27] jeluard commented on #271
It's already done bu status, you can skip this test.

I just pushed a doc update to integrate the relevant bits directly. Thanks for pointing this!

[2019-04-19 09:46] jakubgs commented on #268
Yesterday I created commits including changes from https://github.com/NistorCristian/status repo:
https://github.com/status-im/status.im/commit/371c52e4302507ac2333dba2d9a70ac3074703ac
https://github.com/status-im/status.im-partials/commit/fcf550c046afa3b7b2391c424624813d5209815b
And those were added to `develop` and deployed:
https://dev.status.im/

I also checked the changes to [universal-links-

[2019-04-19 09:54] jakubgs commented on #268
Applied a [fix for the length of the contact](https://github.com/NistorCristian/get-status/commit/6a03272fc774d30ea34615767736dec4ce4d40e4) in links handler:
[code]
Looks better:
![get_status_fix](https://user-images.githubusercontent.com/2212681/56419211-c3712000-6299-11e9-81a4-3d0113bfaede.png)

[2019-04-19 13:48] bitgamma commented on #268
commit 371c52e undid my commit ab0b46d. I added a new page and modified some other of the Keycard API

[2019-04-19 14:25] jakubgs commented on #268
@bitgamma yeah, sorry, the way this site overhaul was done was pretty bad. The repo contents were copied without git history and just modified in a different repo. Which mad back-porting the changes into our repo a bit destructive. I'll try to re-apply your change.

[2019-04-19 14:33] jakubgs commented on #268
Fixed: https://github.com/status-im/status.im/commit/32ae04900f5bfbb032ed5a762bb83b037205c69a

[2019-04-19 14:56] annadanchenko opened #276 "Empty anchors on redesigned dev.status.im"
1. https://dev.status.im/docs/ has "Email Us" with "empty link" https://dev.status.im/docs/# While on existing https://status.im/docs/ there is no such "entry" page and no such email us link
Expected:  use support@status.im

[2019-04-19 14:57] jakubgs commented on #276
Fixed: https://github.com/status-im/status.im/commit/1dd2065a25f24cf5e0e26616613c5af6cc9b64e9

[2019-04-19 15:33] annadanchenko opened #277 "2 pages with wrong chat name "Join #Status-educate" while it points to #status-core and capital #Status chat name"
https://dev.status.im/get-involved/educators/
https://dev.status.im/get-involved/developers/

1. in bottom of the page, section Get in touch: wrong chat name "Join #Status-educate" while it points to #status-core.
Expected: Join #status-core

2. Join #Status is wrong because all chat names in the app are lowercase
Expected: Join #status

<img width="1331" alt="Screen Shot 2019-04-19 at 17 30 50" s

[2019-04-19 15:37] jakubgs commented on #277
Fixed: https://github.com/status-im/status.im/commit/9c3c7aa4cc075c92d2174a97e719c65874521fab

[2019-04-19 16:24] annadanchenko opened #278 "Link "Browser & DApps" moves to Desktop section on https://dev.status.im/features/"
on https://dev.status.im/features/ link https://dev.status.im/features/#web3-browser moves to section "Status Desktop". Expected: it moves to section "Web3 Browser"

[2019-04-19 16:43] annadanchenko opened #279 "On Safari browser, About: profile pictures look squeezed in Swarm sections on small screens"
1. in Safari browser open https://dev.status.im/about/
2. move to Active Swarms section
3. decrease width of the browser page or use mobile with portrait mode and check how profile pictures are shown

Note: on Chrome with narrow window on desktop it looks fine

![53599](https://user-images.githubusercontent.com/6584810/56433961-01d70100-62d3-11e9-8e44-559f5fc58f93.jpg)

[2019-04-19 17:06] jakubgs commented on #268
Some other things to fix: https://github.com/status-im/status.im/issues/276, https://github.com/status-im/status.im/issues/277, https://github.com/status-im/status.im/issues/278

[2019-04-19 19:16] jakubgs commented on #268
Multiple additional fixes from @NistorCristian in https://github.com/status-im/status.im/pull/280

[2019-04-19 19:24] NistorCristian commented on #279
Fixed in #280

[2019-04-19 19:59] annadanchenko opened #281 "Text takes too much place or not aligned on Internet Explorer 11 on several pages"
in IE11 on Windows 10:

1. Home page https://dev.status.im/
![ie home1](https://user-images.githubusercontent.com/6584810/56441633-08bf3d00-62ee-11e9-9e46-c5f37485f4f7.png)

2. https://dev.status.im/get/
![ie downloads](https://user-images.githubusercontent.com/6584810/56441672-24c2de80-62ee-11e9-8b84-b67a6016a2d5.png)

3. https://dev.status.im/features/
![text and image](https://user-images.githu

[2019-04-19 20:02] annadanchenko opened #282 "Status icon is shown for zrx token on picture for wallet"
On https://dev.status.im/features/ picture https://dev.status.im/img/integrated-ethereum-wallet-2x.png for Manage assets shows ZRX token with SNT icon.

Expected: ZRX icon is shown for ZRX token

![wrong icon2 and title ](https://user-images.githubusercontent.com/6584810/56441875-c5190300-62ee-11e9-919c-2094f9da75ab.png)

[2019-04-19 20:03] annadanchenko opened #283 ""H1" in ERC20 & ERC721 Compatible"
on https://dev.status.im/features/ remove "H1" from title "H1: ERC20 & ERC721 Compatible"

![wrong icon2 and title ](https://user-images.githubusercontent.com/6584810/56441932-01e4fa00-62ef-11e9-9719-757d267bbccc.png)

[2019-04-19 20:09] annadanchenko opened #284 "Firefox browser: small github icon for status-react"
on https://dev.status.im/get-involved/developers/ size of github icons for status-react and status-go repos are different, would expect similar sizes
![firefox icon only](https://user-images.githubusercontent.com/6584810/56442109-bed75680-62ef-11e9-9298-54fc3a16bef6.png)

[2019-04-20 16:37] annadanchenko opened #285 "Icon and text take 2 lines for "Specifications & Planning" on small screen (iphone 5s)"
https://status.hauntedthemes.com/about/
Safari, Chrome, iphone 5s

Specifications & Planning is shown on second line under its icon. Not that other item "Communication & Post-mortem" is even longer but is aligned fine next to its icon on the same line. Would expect that "Specifications & Planning" is on the same line as its icon

![62800](https://user-images.githubusercontent.com/6584810/56459925-

[2019-04-20 16:55] annadanchenko opened #286 "On mobile screens no Mission statement is shown on About page"
https://dev.status.im/about/
mission statement "Status strives to be a secure communication tool that upholds human rights. We enable community money, community law and through privacy, preserve culture." is hidden when you start decreasing size of the browser, so not visible on mobiles

It's visible at some point:
Safari and Chrome, maybe other browsers too
<img width="768" alt="Screen Shot 2019-

[2019-04-23 00:03] kevinsimper opened #288 "Update analytics page"
The analytics shows data from 2018 and some of the graphs are even static images.

I think it would be better for new people seeing it that it either gets removed or there is a message at the top that they are not updated :)

[2019-04-23 11:30] #276 closed

[2019-04-23 11:30] #277 closed

[2019-04-23 11:32] jakubgs commented on #278
I believe this was fixed in #280.

[2019-04-23 11:32] #278 closed

[2019-04-23 11:32] jakubgs commented on #268
#280 has been fixed, @annadanchenko is there anything else we need to fix?

[2019-04-23 14:03] annadanchenko commented on #283
fixed on dev.status.im

<img width="1257" alt="Screen Shot 2019-04-23 at 16 02 33" src="https://user-images.githubusercontent.com/6584810/56587100-3bfd1700-65e1-11e9-99c5-649864d07072.png">

[2019-04-23 14:03] #283 closed

[2019-04-23 14:03] annadanchenko commented on #282
fixed on dev.status.im

<img width="1257" alt="Screen Shot 2019-04-23 at 16 02 33" src="https://user-images.githubusercontent.com/6584810/56587148-53d49b00-65e1-11e9-9c13-8bf40f21e787.png">

[2019-04-23 14:03] #282 closed

[2019-04-23 14:05] annadanchenko commented on #279
tested ok on dev.status.im

![52022](https://user-images.githubusercontent.com/6584810/56587312-98603680-65e1-11e9-8930-a648a196f784.jpg)

[2019-04-23 14:05] #279 closed

[2019-04-23 14:09] annadanchenko commented on #286
fixed and tested on dev.status.im

![98724 (1)](https://user-images.githubusercontent.com/6584810/56587670-36540100-65e2-11e9-9efd-57b864faa7c8.jpg)

[2019-04-23 14:09] #286 closed

[2019-04-23 15:11] annadanchenko commented on #284
tested ok on dev.status.im

[2019-04-23 15:11] #284 closed

[2019-04-23 15:43] annadanchenko commented on #281
tested ok on dev.status.im

[2019-04-23 15:43] #281 closed

[2019-04-23 15:46] annadanchenko opened #289 "IE11: Long titles for Core contributors are overlapping info popup"
https://dev.status.im/about/ section Core Contributors, move cursor to Volodymyr Kozieiev or Pedro Pombeiro and check how their title is shown. On Most of browsers title takes 2 lines (expected) to fit in the popup. On IE11 it overlaps popup

![ie retest 1 - titles](https://user-images.githubusercontent.com/6584810/56595877-baf94c00-65ef-11e9-82d3-b8c406a5bdea.png)

[2019-04-23 15:49] annadanchenko opened #290 "IE11: non-clickable Github icon in the header on all pages"
On dev.status.im (and the rest of pages with similar header) github icon in the top right corner if clicked should go to https://github.com/status-im/ On IE11 if click it then nothing happens, user stays on the same home page

![ie retest 2 no link on gh icon](https://user-images.githubusercontent.com/6584810/56596065-1f1c1000-65f0-11e9-849f-5d7cce094389.png)

[2019-04-23 15:54] annadanchenko opened #291 "IE11: no issue list shown for Open Issues Status-React and Status-Go"
https://dev.status.im/get-involved/developers/ sections `Open Issues Status-React` and `Open Issues Status-Go` do not show list of recent GH issues as other browsers do
on IE11:

![ie retest 3 no issues listed on ie (1)](https://user-images.githubusercontent.com/6584810/56596235-7a4e0280-65f0-11e9-8a53-9630a049a186.png)

on chrome in macos:
<img width="1440" alt="Screen Shot 2019-04-23 at 17 52 12

[2019-04-24 17:11] annadanchenko commented on #291
verified ok on dev.status.im in ie11

[2019-04-24 17:11] #291 closed

[2019-04-24 17:11] annadanchenko commented on #290
verified ok on dev.status.im in ie11

[2019-04-24 17:11] #290 closed

[2019-04-24 17:13] annadanchenko commented on #289
verified ok on dev.status.im in ie11

[2019-04-24 17:13] #289 closed

[2019-04-24 17:15] annadanchenko commented on #285
verified ok on dev.status.im with iphone 5s,safari

[2019-04-24 17:15] #285 closed

[2019-04-24 18:04] annadanchenko opened #295 "Outdated links on dev.status.im/stable"
dev.status.im/stable contains old links:

ios: https://i.diawi.com/dAyepW
android: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190305-152317-ff3c9d-release.apk
Mac: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190305-152317-ff3c9d-release.dmg
Linux: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190305-152317-ff3c9d-release.AppImage
Windows: https://status-im.ams3.digi

[2019-04-24 19:30] NistorCristian commented on #295
Fixed in 680d63f

[2019-04-25 15:27] annadanchenko opened #297 "IE11: No picture shown in About for more than 10 contributors"
on https://dev.status.im/about/ for some pictures in Core Contributors there are placeholders and error `DOM7009: Unable to decode image at URL: 'https://statusim.bamboohr.com/employees/photos/?h=8206acf8302cc473fb8ef09b81973311'`

does not happen in safari, chrome and opera, looks like ie specific

![ie about pictures](https://user-images.githubusercontent.com/6584810/56747899-16a60f80-677f-11e9-

[2019-04-25 16:12] annadanchenko commented on #295
verified ok on dev.status.im

[2019-04-25 16:12] #295 closed

[2019-04-25 22:03] jakubgs commented on #268
Moar fixes: #295, #296, #297, #298, #299

[2019-04-26 14:55] jakubgs commented on #268
Rebased `master` on `develop`, no conflicts, 33 commits in total: https://github.com/status-im/status.im/compare/376ed6c505fdc26ddc095b6b5806a61b2d75c46d...79a79bda91fee6de0ffe659c10f893625ad259f5
Also had to fix repo URL after that because it was changed in Nistors repo: 79a79bda91fee6de0ffe659c10f893625ad259f5

[2019-04-26 14:55] jakubgs commented on #268
I've also pushed `statusteam/universal-links-handler:9b181a2` as `statusteam/universal-links-handler:deploy` which updated the container automatically though Watchtower.

[2019-04-26 15:00] jakubgs commented on #268
Closing this as site overhaul as finished.

[2019-04-26 15:00] #268 closed

[2019-04-30 08:42] hesterbruikman opened #300 "Add assets to developer tools"
Some DApps refer to a browser to open their DApp. We want to facilitate DApp developers to make it easy to add a link for people to **open** their DApp in or **connect** with Status.

We want to provide 2 badges on https://status.im/developer_tools/assets_guidelines.html to complete the 2nd bullet on the page.

"You use our name & logo if featuring mobile wallets. You can use the badges below to d

[2019-04-30 11:59] #300 closed

[2019-05-01 18:21] j-zerah opened #305 "Update Social Meta Data TW Card"
Need to add an image to appear when URL is shared via Twitter.

Currently, the correct Title and Meta description show up but does not include an image. Please update with imagery pulled from homepage

<img width="616" alt="Screen Shot 2019-05-01 at 2 18 22 PM" src="https://user-images.githubusercontent.com/33129508/57034013-6e7bc500-6c1c-11e9-898f-b983dbcbe94e.png">

[2019-05-01 18:25] j-zerah opened #306 "Update Meta Data and Imagery for Facebook sharing"
We need to ensure the correct meta data (title/description) and imagery appears when posting site URL on Facebook.

Currently pulling dev.status.im meta

<img width="930" alt="Screen Shot 2019-05-01 at 2 23 14 PM" src="https://user-images.githubusercontent.com/33129508/57034243-07124500-6c1d-11e9-88fb-729ad8357e9a.png">
 data in when attempting to post on Facebook. Please use the same information

[2019-05-01 18:31] j-zerah opened #307 "Remove Dev.status.im from indexing on Google Search"
when searching for Status.im or Status in google, dev.status.im is still indexing and appearing in search results.

Can we ensure this does not happen and only Status.im appears.

Looks like this may be a pain to remove before Google stops crawling/indexing dev.status https://www.nerdpress.net/if-google-indexed-your-dev-site/

<img width="1260" alt="Screen Shot 2019-05-01 at 2 27 13 PM" src="https

[2019-05-01 18:37] j-zerah opened #308 "Espanol Community Group driving to incorrect public channel"
https://status.im/get-involved/community-groups/

The Espanol Community Group is driving to the incorrect public channel in Status. It is currently driving to https://get.status.im/chat/public/status-espanol

it should point to https://get.status.im/chat/public/status-spanish

#status-spanish NOT #status-espanol

Also - need to update the copy from #status espanol to #status-spanish

<img width="1

[2019-05-01 18:45] j-zerah opened #309 "Update URL to Gitcoin Bounties on Developer Get Involved Page"
https://status.im/get-involved/developers/

The URL for "Earn crypto for completing bounties - See the full list of technical bounties on Gitcoin" is currently driving to a page that does not include all of the Status Bounties. It is driving to a page in which both "status" and "statusim" are listed as search terms (https://gitcoin.co/explorer?network=mainnet&idx_status=open&keywords=status.im)

I

[2019-05-01 18:59] j-zerah opened #310 "Core Contributor Profiles no opening in new window"
https://status.im/about/

When I hover over a core contributor profile and then click on either Github or Status Profile, it should open in a new browser window.

Currently does not open in a new window.

<img width="1245" alt="Screen Shot 2019-05-01 at 2 49 50 PM" src="https://user-images.githubusercontent.com/33129508/57035853-01b6f980-6c21-11e9-996f-86f0767692b9.png">

[2019-05-01 19:25] j-zerah opened #311 "Add #status-chinese community group"
Need to add a chinese community group to https://status.im/get-involved/community-groups/

Title: #status-chinese [https://get.status.im/chat/public/status-chinese]
Description: Status in Chinese

Organizer: Steven Zhu

https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjP-daqh_vhAhXKm-AKHc6UAtUQjRx6BAgBEAU&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AFlag_of_th

[2019-05-08 09:29] Serhy opened #315 "Update links on https://status.im/stable/ page with 0.12.1 mobile builds"
We need to update iOS and Android links on https://status.im/stable/ page to have 0.12.1 mobile builds

Expected links are:
**iOS:** https://i.diawi.com/CuniC9
**Android**: https://status-im.ams3.digitaloceanspaces.com/StatusIm-190506-084842-09a03e-release.apk

[2019-05-08 09:40] jakubgs commented on #315
The links are stored in the [`source/_data/releases.yml`](https://github.com/status-im/status.im/blob/develop/source/_data/releases.yml) file:
https://github.com/status-im/status.im/blob/391615d9cf29a3ee33a1d6d0eda6795a073b8dc2/source/_data/releases.yml#L1-L2

Editing it should be trivial, you can even do it by just using the GitHub `edit` option:
https://github.com/status-im/status.im/edit/develo

[2019-05-08 09:45] annadanchenko commented on #315
@Serhy please add a link to ipa file too, as you can see in https://github.com/status-im/status.im/blob/develop/source/_data/releases.yml there is IOS link with ipa

[2019-05-08 09:48] Serhy commented on #315
Diawii, IPA and APK links updated in PR https://github.com/status-im/status.im/pull/316

[2019-05-08 09:54] annadanchenko commented on #315
@jakubgs should it be for develop or master branch?

[2019-05-08 09:59] jakubgs commented on #315
The `develop` branch, it's correct. Because we want to first deploy the change to https://dev.status.im/ before we push it to `master` and https://status.im/.

[2019-05-08 10:00] #315 closed

[2019-05-08 10:06] jakubgs commented on #315
https://dev.status.im/stable/ - Looks updated.
After I merge and verify https://github.com/status-im/status.im/pull/317 I'll push the changes to `master`.

[2019-05-08 10:31] jakubgs commented on #315
Pushed to master: https://ci.status.im/job/misc/job/status.im/429/

[2019-05-10 14:51] #311 closed

[2019-05-10 14:52] #310 closed

[2019-05-10 14:53] #309 closed

[2019-05-10 14:53] #308 closed

[2019-05-10 15:02] j-zerah opened #323 "Blog Not returning all posts to authors / tags"
Looks as though there is an issue with posts associated to Authors and Tags.

When open the "Two Point Oh" (https://our.status.im/tag/two-point-oh/) tag in our.status.im - there should be 4 total posts but only 3 appear. Also when I view all posts by Bruno - not all of them return.

Seems as though there is a discrepancy of one in however it is searching/indexing posts.

@NistorCristian

[2019-05-10 17:49] NistorCristian commented on #323
@j-zerah Fixed.

[2019-05-10 20:36] #323 closed

[2019-05-15 05:44] oskarth opened #325 "Call out Desktop Alpha state more"
https://status.im/get/
![image](https://user-images.githubusercontent.com/1552237/57751079-2ded7280-7717-11e9-9baf-f85657c09653.png)

"This is alpha software and may contain vulnerabilities.
Please expect changes."

1. Should be called out more, like in bold and bigger font.
2. Copy: possibly add that you  shouldn't import a key that has significant value in it, and that the expected users are dev

[2019-05-16 21:17] j-zerah commented on #325
Im ok if we increase font size to match the copy above the CTA as well as make it bold as well as italicized. Could even add and asterisk in front to call attention.

So copy would be:
"*This is alpha software and may contain vulnerabilities – do not import a key that has significant value. Code changes are regular and the expected users are developers."

[2019-05-17 17:25] j-zerah opened #331 "[SNT Page] Remove CTA for White Paper in Hero Section"
The White Paper is slightly outdated and should not be the primary focus of the page.

Please remove the copy/CTA for "Read the White Paper"

<img width="1266" alt="Screen Shot 2019-05-17 at 1 25 21 PM" src="https://user-images.githubusercontent.com/33129508/57945215-455b6580-78a7-11e9-96b1-e48006e1c920.png">

@NistorCristian

[2019-05-17 17:28] j-zerah opened #332 "[SNT Page] Ensure Secondary Page Nav is visible upon opening page"
When viewing on my MacBook Pro (Retina, 13-inch), I am unable to see the secondary navigation when landing on the page.

The nav items - The Basics / Using SNT / Research / Get Involved are below the fold/view

They must be visible on all screen sizes.

@NistorCristian

<img width="1266" alt="Screen Shot 2019-05-17 at 1 25 21 PM" src="https://user-images.githubusercontent.com/33129508/57945357-abe

[2019-05-17 17:43] j-zerah opened #333 "[SNT Page] Desktop: SNT Use Case Cards Overlapping"
MacBook Pro (Retina, 13-inch)

Many of the cards are overlapping and cut off some of the copy of the card below or above.

<img width="1265" alt="Screen Shot 2019-05-17 at 1 35 34 PM" src="https://user-images.githubusercontent.com/33129508/57946204-c3b90700-78a9-11e9-9e22-328a48624bc2.png">
<img width="1267" alt="Screen Shot 2019-05-17 at 1 35 47 PM" src="https://user-images.githubusercontent.com/

[2019-05-17 17:45] j-zerah opened #334 "[SNT Page] Last SNT Use Case (Acquisition Engine) overlapping into Research Section below"
MacBook Pro (Retina, 13-inch)

The final card is overlapping into the section below and the image is covering the copy "Cryptoeconomic Research"

<img width="1264" alt="Screen Shot 2019-05-17 at 1 36 29 PM" src="https://user-images.githubusercontent.com/33129508/57946363-1f839000-78aa-11e9-9bbd-87da7d12e0cf.png">

[2019-05-17 17:57] j-zerah opened #335 "[SNT Page] Mobile: SNT Use Case Cards overlapping"
iPhone X

Cards overlapping similar to desktop
![IMG_7241](https://user-images.githubusercontent.com/33129508/57946978-aa18bf00-78ab-11e9-856f-2b909d9268e3.jpeg)
![IMG_7240](https://user-images.githubusercontent.com/33129508/57946979-aa18bf00-78ab-11e9-9020-7956b1c1e006.jpeg)
![IMG_7239](https://user-images.githubusercontent.com/33129508/57946980-aa18bf00-78ab-11e9-80c0-f0e44888cbda.jpeg)

[2019-05-17 18:02] j-zerah opened #336 "[SNT Page] Mobile - Cryptoeconomic Research copy - add line breaks"
iphone X

The paragraph copy is all in one long paragraph. Please add line breaks to mirror desktop:

![IMG_7242](https://user-images.githubusercontent.com/33129508/57947192-3e832180-78ac-11e9-98ef-f60eb3026a99.jpeg)

[2019-05-17 18:09] j-zerah opened #337 "[SNT Page] SNT Use Cases - Network Incentivization - Add another workbook CTA"
Network Incentivization is actually broken into 2 unique SNT Use Cases:
1. Pay for Forwarding
2. Pay for Offline Messages

Let's add another workbook CTA under the current one so there are 2 workbooks:

Explore the Financial Model - Pay for Forwarding >> https://observablehq.com/@bgits/status-network-incentivisation-pay-for-forwarding

Explore the Financial Model - Pay for Offline Messages >> http

[2019-05-17 19:46] #337 closed

[2019-05-20 16:31] annadanchenko opened #338 "[SNT Page] no github and status icons on hover over if refresh page"
1. Safari, Chrome, FF open https://status.hauntedthemes.com/snt/
2. refresh page
3. check if icons are shown inside card on hover over e.g on Teller Network.
there should be icons in top right corner of the card but they are not shown

<img width="1512" alt="Screen Shot 2019-05-20 at 18 24 06" src="https://user-images.githubusercontent.com/6584810/58037245-46052d80-7b2d-11e9-96d3-083d2061683e.png"

[2019-05-20 16:41] annadanchenko opened #339 "[SNT Page] use cases cards are not aligned as in design if refresh page"
Safari, Chrome, FF probably other browsers too
1. open https://status.hauntedthemes.com/snt/
2. refresh page
3. move to SNT use cases cards: they are of equal height, in design and on step 1 before refresh they are not aligned (it's expected)

In Safari:
<img width="1671" alt="Screen Shot 2019-05-20 at 18 36 02" src="https://user-images.githubusercontent.com/6584810/58037749-64b7f400-7b2e-11e9-83b

[2019-05-20 16:45] annadanchenko opened #340 "[SNT Page] Acquisition Engine card overlaps with Cryptoeconomic Research"
all browsers (safari, chrome, opera), laptop
 https://status.hauntedthemes.com/snt/

scroll to Acquisition Engine card. it overlaps with  Cryptoeconomic  Research

<img width="1592" alt="Screen Shot 2019-05-20 at 18 43 04" src="https://user-images.githubusercontent.com/6584810/58038140-6b933680-7b2f-11e9-8e67-fe4f3b48e60b.png">

[2019-05-20 16:52] annadanchenko opened #341 "[SNT Page] picture in Voting DApp overlaps borders of the card"
all browsers (safari, chrome, opera), laptop
https://status.hauntedthemes.com/snt/

scroll to Voting DApp card. Picture overlaps top border of the card

in Chrome(laptop):
<img width="1441" alt="Screen Shot 2019-05-20 at 18 50 07" src="https://user-images.githubusercontent.com/6584810/58038395-2a4f5680-7b30-11e9-9529-a063710738ee.png">

in Safari, mobile
![61635 (1)](https://user-images.githubuser

[2019-05-20 17:03] NistorCristian commented on #340
This is how it's designed, isn't it?

[2019-05-20 17:04] NistorCristian commented on #341
The desktop is ok. That is how it's designed. Only the mobile doesn't overlap in design. Weird.

[2019-05-20 18:21] annadanchenko commented on #340
by design

[2019-05-20 18:21] #340 closed

[2019-05-20 18:33] annadanchenko opened #342 "[SNT Page] IE: only 1 line is visible in Basics cards"
1. in IE only: open https://status.hauntedthemes.com/snt/
2. check Basics card and text inside it

![2 snt cards ie](https://user-images.githubusercontent.com/6584810/58043774-5ffb3c00-7b3e-11e9-9722-00772489c60c.png)

[2019-05-20 19:51] annadanchenko opened #343 "[SNT Page] mobile: wrong order of cards"
Expected order of cards on mobile according to https://www.dropbox.com/sh/sfy3twudlvvqx1n/AADjq6dv9u2D91cjnlLwMJZxa/v018/SNT?dl=0&preview=_Mobile+SNT%402x.png&subfolder_nav_tracking=1

1. Network Incentivization
2. Teller Network
3. Sticker Market
4. ENS User Name
5. DAO & Governance
6. Tribute to Talk
7. Voting DApp
8. DApp Curation
9. Acquisition Engine

currently, on mobile cards have other ord

[2019-05-20 21:01] #331 closed

[2019-05-20 21:01] #332 closed

[2019-05-20 21:02] #333 closed

[2019-05-20 21:02] #334 closed

[2019-05-20 21:03] #335 closed

[2019-05-20 21:03] #336 closed

[2019-05-20 21:09] j-zerah opened #344 "[SNT Page] Add CTAs for sections in hero area on mobile"
On mobile - the design calls to remove the CTA's for:
- The Basics
- Using SNT
- Research
- Get Involved

We need to add these on mobile for easy navigation.

Please add text CTA's under the description copy in the hero section on mobile. You can reference https://status.im/about/

<img width="495" alt="Screen Shot 2019-05-20 at 5 04 12 PM" src="https://user-images.githubusercontent.com/33129508/5

[2019-05-20 21:15] j-zerah opened #345 "[SNT Page] Fix placement of images / copy on SNT use case cards on mobile"
On mobile the order of the use case cards is incorrect when referencing the design file.

Please make sure of the following:
**Network Incentivization:** Image top / Copy below
**Teller Network:** Copy top / image below
**Sticker Market:** Image top / copy below
**ENS User Name:** Image top / Copy below
**DAO & Governance:** Image top / Copy below
**Tribute to Talk:** Image top / Copy below
**Voti

[2019-05-22 12:43] annadanchenko opened #346 "[SNT Page] change link for Voting DApp and dap.ps"
https://status.hauntedthemes.com/snt/

1. Check out the Voting DApp >> https://vote.status.im/	link should be changed to https://get.status.im/browse/https://vote.status.im/
2. Browse DApps >> https://dap.ps/ link should be changed to  https://get.status.im/browse/https://dap.ps

[2019-05-22 13:22] annadanchenko opened #347 "[SNT Page] Mobile: Icons overlap picture inside some cards"
1. On mobile (Android or iOS) open https://status.hauntedthemes.com/snt/
2. Tap on Sticker Market or DAO & Governance card (any card with image on its top)
3. Check How GitHub and Chat icons are shown in the card

![Screenshot_20190522-151655](https://user-images.githubusercontent.com/6584810/58177722-2f81e200-7ca5-11e9-8bef-6743e34443e4.png)
![Screenshot_20190522-151833](https://user-images.githu

[2019-05-22 13:31] annadanchenko commented on #346
@j-zerah is it ok for you?

[2019-05-22 13:42] j-zerah commented on #346
yes this is ok.

Noted here and in copy deck

[2019-05-22 17:22] j-zerah commented on #347
While not ideal, this is not a show stopper for me. It is a flaw in the design, but ultimately not too bad, nor impending someone from joining the associated channel.

Im ok to launch with this and come up with a design solution next week.

[2019-05-24 22:13] #306 closed

[2019-06-03 17:11] j-zerah opened #350 "[SNT Utility Page] DApp Curation >> Browse DApps drives to incorrect URL"
When clicking on "Browse DApp" from the DApp Curation card, it directs to https://get.status.im/browse/https://vote.status.im/

It should direct to https://get.status.im/browse/https://dap.ps

[2019-06-03 17:13] j-zerah opened #351 "our.status.im - Update Nav with "SNT Utility""
We have added a page for SNT Utility and a global navigation item that lives on status.im.

We need to add SNT Utility to the Global Navigation on our.status.im so it is consistent with the rest of the content.

[2019-06-03 17:18] j-zerah opened #352 "Blog Not updating with latest content"
Most recent blog post "Token Economics Research" is not appearing in the featured #1 spot on the blog NOR on the homepage in the "News" section on the homepage

https://our.status.im/token-economics-ens-usernames/

<img width="1270" alt="Screen Shot 2019-06-03 at 1 17 59 PM" src="https://user-images.githubusercontent.com/33129508/58820981-0a289880-8602-11e9-844b-c52dfa09b4c6.png">
<img width="1280

[2019-06-03 19:23] j-zerah opened #353 "[Get Involved - Educators] Update Translation Section with new copy and links"
We have updated the process for people to get involved and help translate Status. Jinho has created thttps://translate.status.im/ and we should simply point here instead of the various CTA's.

Update Translate section (https://status.im/get-involved/educators/#translate):

Update Copy from:
_Help us localise Status into your language._

To
_Help us localise Status into your language. We use lokali

[2019-06-03 19:34] NistorCristian commented on #352
@j-zerah That's because it's not the most recent post. The most recent post published is [Version 0.13.0 - Custom ERC20 Token Support](https://our.status.im/version-0-13-0-custom-erc20-token-support/).

This post is published on 05/28/2019 at 13:15
The post that you want to be first is published on 05/28/2019 at 10:24

Do you want me to change the hour and make that the latest post published?

[2019-06-03 19:37] j-zerah commented on #352
@NistorCristian - you are correct. I completely forgot this post was accidentally published a few weeks ago on 5/28.

Yes - please make this the most recent post.

[2019-06-03 19:38] NistorCristian commented on #352
@j-zerah Done

[2019-06-03 19:42] NistorCristian commented on #351
@j-zerah Done

[2019-06-03 20:46] j-zerah opened #355 "[Global Footer] Add SNT Utility under "Status""
Add a CTA for SNT Utility under "Status" section

SNT Utility will direct to https://status.im/snt-utility/

[2019-08-07 07:45] NistorCristian opened #387 "Content Security Policy on About page"
There seems to be a CSP issue on [About page](https://status.im/about/), on Active Swarms section. Because of this the images don't load.

There seems to be a CSP directive defined somewhere but not in hexo:
default-src 'self' *.status.im boards.greenhouse.io

Any ideas where this is defined @jakubgs ?

We're going to have to add:
*.githubusercontent.com
statusim.bamboohr.com

As an alternative I

[2019-08-07 13:04] jakubgs commented on #387
Yes, it's defined here:
https://github.com/status-im/infra-misc/blob/29f9d2c6469e39255bdcc69ccc1f6cb5cebd88da/files/site_headers.js#L10-L14
It works though CloudFlare workers, because we don't have any control over what headers GitHub pages return.

[2019-08-07 13:05] jakubgs commented on #387
You want me to add:
[code]
But to what? `script-src`? `style-src`? `default-src?

[2019-08-07 13:07] NistorCristian commented on #387
Should work with default-src

[2019-08-07 13:08] jakubgs commented on #387
Ah, I see, for `statusim.bamboohr.com` it's just images from:
[code]
And for `*.githubusercontent.com` it's:
[code]
So that should be `img-src`, in theory at least, those don't seem to have file extensions, though they should return `Content-Type` headers.

[2019-08-07 13:12] NistorCristian commented on #387
Probably *.status.im needs to be added there too.

[2019-08-07 13:12] jakubgs commented on #387
That's already in `default-src`.

[2019-08-07 13:13] NistorCristian commented on #387
Yes but I think it needs to be in img-src too. Right now I see no image on status.im:

Refused to load the image 'https://status.im/img/favicon/apple-icon-57x57.png' because it violates the following Content Security Policy directive: "img-src *.githubusercontent.com statusim.bamboohr.com".

[2019-08-07 13:14] jakubgs commented on #387
Oh, because it takes the narrower one by default, good point.

[2019-08-07 13:15] jakubgs commented on #387
What it actually needs is a `'self'`.

[2019-08-07 13:18] jakubgs commented on #387
Fixed - a601bf3 - deployed:
[code]

[2019-08-07 13:18] #387 closed

[2019-08-07 13:19] jakubgs commented on #387
Good catch, I knew I'd miss some things when introducing CSP, but it had to be done eventually.

[2019-08-19 22:22] corpetty commented on #288
agreed, @jakubgs do we need to keep this around for anything.  I think we can just remove it and rely on tweaking analytics.status.im, right?

[2019-08-20 15:11] jakubgs commented on #288
Ask and you shall receive: https://github.com/status-im/status.im/pull/393

[2019-08-20 15:20] kevinsimper commented on #288
@corpetty Didn't know about that url, great that there is something new 😄
@jakubgs Awesome 💯

[2019-08-20 19:59] #288 closed

[2019-09-14 01:16] acolytec3 opened #400 "Build Status -> Learn About Our Tools link is broken"
The [Learn About Our Tools](https://status.im/tutorials/desktop_inline_eval.html) link is broken.  It looks like it should be pointing to [Coming to Grips with Status-react on Desktop](https://status.im/guides/desktop_inline_eval.html) based on the link name  but wasn't sure.

[2019-09-14 01:16] acolytec3 commented on #400
NM, this is already addressed by PR #397

[2019-09-14 01:16] #400 closed

[2019-10-03 18:36] NistorCristian opened #410 "[Homepage] Last post from our.status.im doesn't load due to CORS"
Hi,

There is an issue on homepage. Below the title "Private, Secure Communication" on homepage there should be a news link in there that gets the last post published on https://our.status.im/.

The problem is that because of CORS the post can't be fetched. Here is the error:

`Access to XMLHttpRequest at 'https://our.status.im/ghost/api/v2/content/posts/?key=10e7f8c1f793d2945ea1177076&limit=1&fie

[2019-10-03 18:41] jakubgs commented on #410
Thanks, shouldn't be hard to fix.

[2019-10-03 18:59] jakubgs commented on #410
Oh yeah, I can see the issue:
[code]
Both Ghost and the Nginx proxy for Ghost set the `access-control-allow-origin` header which fucks with the browsers a bit.

[2019-10-03 19:01] jakubgs commented on #410
And the current configuration adds it without check if there is already one:
https://github.com/status-im/infra-misc/blob/a3043b686a7d459ef5b05fc4a46612ff5b2dc578/ansible/roles/ghost/templates/cors-setup.conf.j2#L2-L7
What I could use is the [proxy_set_header](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_set_header) option to clear the header first.

[2019-10-03 19:12] jakubgs commented on #410
Since I can't easily remove the `access-control-allow-origin` header myself in Nginx I'm just going to drop the CORS adding on the proxy. My guess is it was necessary for the older Ghost version, and the new one just adds it by itself, so we get two headers.

Fix: https://github.com/status-im/infra-misc/commit/282ea232cbb96666ee317b235bb4157cc431a93e

![fixed_news_link](https://user-images.githubu

[2019-10-03 19:12] #410 closed

[2019-10-22 16:15] acolytec3 opened #416 "Old blog URL points to deprecated Medium blog"
blog.status.im still points to the old Medium blog that hasn't been updated since 2018.  The old blog also doesn't mention that current blog updates are now at our.status.im.  Can the DNS records for blog.status.im be redirected to point to the current blog (or at least a post on the Medium site redirecting users to the current blog)?

[2019-10-23 11:13] alexcg1 opened #417 "Community -> Docs -> Get Started is dead link"
From https://our.status.im/tag/community/ , clicking the link from header menu for 'Get Started' results in "[Page not found](https://status.im/docs/contributor_guide.html)"

Link should be changed to https://status.im/technical/contributor_guide.html

[2019-10-25 09:51] jonathanbarker opened #419 "[Get Involved page] Include Sourcecred graph under the Open Source community and "top contributors" section"
Now we have https://sourcecred.status.im/timeline/all-orgs/ showing the contributions to our top repos, it would be cool to include that somewhere on https://status.im/get-involved/ to demonstrate the contributions that do occur, and the size of the community that are involved.

WDYT @j-zerah , @rbnpercy ?

[2019-10-25 12:00] jonathanbarker commented on #417
OK thanks. I don't see where in the Ghost admin panel this change can be made.
Looks like the broken link might be within the custom theme we have.

@ceripower Can you take a look and see if I'm missing something?

[2019-10-25 12:36] jakubgs commented on #417
Yeah, this might require a theme fix. I'll take a look at it.

[2019-10-25 12:46] jakubgs commented on #417
I've fixed it.

[2019-10-25 12:46] #417 closed

[2019-10-31 11:52] jakubgs opened #421 "Stress test the site to see how much it can handle"
After the short attack on our site on the 2019/10/28 ([Post-mortem](https://github.com/status-im/jakubgs-notes/blob/master/research/status_im_downtime.md)) it would be a good idea to verify empirically how much CloudFlare + GitHub Pages can actually take.

[2019-10-31 12:35] jakubgs commented on #421
I can use the the Sitemap as a source of URLs to query:
https://github.com/status-im/status.im/blob/gh-pages/sitemap.xml
[code]
This number doesn't take into account all the URLs affected by the language prefixes, but that's fine.

[2019-10-31 13:33] jakubgs commented on #421
I've ran `siege` on 5 CI hosts like this:
[code]
And got results like this:
[code]
The number of transactions hovers around 300k, which gives a total of ~1.5 million.
[code]

[2019-10-31 14:28] jakubgs commented on #421
And http codes look fine too, it's almost all cached:
![sim_status_codes_02](https://user-images.githubusercontent.com/2212681/67955563-120d5880-fbf3-11e9-9b42-f35ff1867b9b.png)
I'm gonna give it some time and do one final round with double the time and double the workers.

[2019-11-19 01:12] acolytec3 commented on #416
@jakubgs Hey, just realized this has been sitting for quite a while.  Any chance this `blog.status.im` could be redirected to `our.status.im`?

[2019-11-19 08:18] jakubgs commented on #416
Ah yes, I missed it because I was never pinged for it/assigned to it.
Done: https://github.com/status-im/infra-misc/commit/f7a5235b6ce93bbb8859beb00a90ce14a7723e1a
[code]

[2019-11-19 08:18] #416 closed

[2020-01-06 14:01] #325 closed

[2020-01-06 14:06] #189 closed

[2020-01-06 14:12] rachelhamlin opened #433 "[Get Status] Remove desktop links before v1"
We've paused work on desktop, and desktop is no longer compatible with the mobile app.

As we're soon to release v1, we want to prevent users from installing these unsupported builds.

Two options:
1) Disable download links and update the copy to add that desktop is currently unavailable.
2) Remove the desktop section. Gray fill the remaining space, and/or select larger mobile assets. <-- Preferre

[2020-01-12 09:57] jinhojang6 opened #439 "[404 pages] The sidebar on the left side has 2 wrong URLs"
At https://status.im/technical/

<img width="298" alt="Screen Shot 2020-01-12 at 6 56 10 PM" src="https://user-images.githubusercontent.com/41753422/72217102-3bd8e900-356d-11ea-86b0-73499f9755b2.png">

There are 2 404 URLs

1)  Status React Structure
https://status.im/technical/status_react_structure.html

2) Send Transaction Flow
https://status.im/technical/send_transaction_flow.html

[2020-01-14 14:22] jinhojang6 commented on #439
1.

[2020-01-14 14:22] #439 closed

[2020-01-14 23:13] j-zerah commented on #433
@NistorCristian for the "Get Status" Page - lets use one of the designs from Ivo. Lets remove Desktop as mentioned above by rachel.

Lets go with what you have here https://dev.status.im/v1/

BUT please remove everything below the fold (the SNT campaign copy):
<img width="1235" alt="Screen Shot 2020-01-14 at 6 11 21 PM" src="https://user-images.githubusercontent.com/33129508/72390768-8be4b680-36f9

[2020-01-14 23:15] j-zerah opened #442 "[Homepage] Update Hero Image Asset"
@NistorCristian  Please update the image asset in the hero section of status.im with an updated render.

Asset attached
![android-3d-render](https://user-images.githubusercontent.com/33129508/72390844-c2bacc80-36f9-11ea-82eb-a2184cf3eee6.png)

Can you please ensure this asset is also used on https://status.im/get/ and all other install pages

[2020-01-14 23:18] j-zerah opened #443 "[Homepage] The Status Network link copy"
@NistorCristian please update the copy of the CTA on the homepage from `The Status Network Site` to `Learn more about The Status Network`

<img width="1277" alt="Screen Shot 2020-01-14 at 6 18 18 PM" src="https://user-images.githubusercontent.com/33129508/72391087-42489b80-36fa-11ea-8f81-c2b76edbf61f.png">

[2020-01-14 23:30] j-zerah opened #444 "[Global] Update footer to include App/Play/APK install CTA's"
@NistorCristian lets udpate the global footer to include install CTA's for ios/android/APK

<img width="766" alt="Screen Shot 2020-01-14 at 6 25 14 PM" src="https://user-images.githubusercontent.com/33129508/72391662-c9e2da00-36fb-11ea-9cc0-a8d071c644f8.png">

[2020-01-14 23:32] j-zerah opened #445 "[Homepage & Install] Update Android APK Button with new android logo"
@NistorCristian please make sure you are using the most up to dat android logo for the APK button
<img width="766" alt="Screen Shot 2020-01-14 at 6 25 14 PM" src="https://user-images.githubusercontent.com/33129508/72391777-28a85380-36fc-11ea-867a-3a7fe1910793.png">

[2020-01-14 23:32] j-zerah opened #446 "[SNT Utility] Add CTA for Messari"
@NistorCristian  SNT-Utility Page - The basics >> "Open Source" tile. Can we update copy to

"Status is an entirely open source project in which anyone can use the code and token to suit their needs. Status is verified by the Messari Disclosures Registry."

Add a CTA that says "Messari Disclosures Registry" (https://messari.io/asset/status)

[2020-01-14 23:35] j-zerah opened #447 "[Features] Update Chat UI Asset"
@NistorCristian please update the chat UI asset (Secure Messenger) with the new asset attached
<img width="886" alt="Android-Chat" src="https://user-images.githubusercontent.com/33129508/72391913-a53b3200-36fc-11ea-8133-d4a0edab9807.png">

[2020-01-15 19:34] NistorCristian commented on #433
To recap a little because we have the same pages here.

So `/get/` will be exactly like `/v1/`. I'll keep them both, right?
Should I remove the SNT part only from /get/ or from both?

@j-zerah

[2020-01-15 20:01] j-zerah commented on #433
please remove the SNT part from `/get/` only

[2020-01-22 06:59] rachelhamlin opened #450 "[Docs] Nav Re-Org: Top-Level"
Please edit the navigation of each section on the [docs site](https://status.im/docs/) as follows:

### Technical Documentation

This entire section can be removed. Here's what to do with each page:

- Drop `Technical Documentation` link, but not the [page content](https://status.im/technical/). Can repurpose for `Build` section.
- Make `FAQs` a top-level nav item, at the bottom of the top-level m

[2020-01-22 19:20] j-zerah commented on #450
@rachelhamlin have you seen this from B9 Labs? http://preview-5bxuue6kafu5ocp5.b9lab.com/docs/

[2020-01-23 06:27] rachelhamlin commented on #450
No, only the DApp integration center - this is SO much better @j-zerah. Can't wait to see this implemented.

[2020-01-23 06:27] #450 closed

[2020-01-24 09:00] #433 closed

[2020-01-27 22:04] j-zerah opened #453 "[Homepage] Hero asset too large"
The updated rendered image asset is too large for the homepage section. Can you resize slightly so it fits more closely to the current asset

Current:
<img width="1273" alt="Screen Shot 2020-01-27 at 5 03 25 PM" src="https://user-images.githubusercontent.com/33129508/73217968-f862ab00-4126-11ea-97c3-89794dd133c5.png">

Dev.status
<img width="1271" alt="Screen Shot 2020-01-27 at 5 02 36 PM" src="ht

[2020-02-07 01:09] #447 closed

[2020-02-07 01:09] #446 closed

[2020-02-07 01:09] #445 closed

[2020-02-07 01:09] #444 closed

[2020-02-07 01:10] #443 closed

[2020-02-07 01:10] #442 closed

[2020-02-07 01:13] j-zerah opened #459 "[Features] Chat image too large"
@NistorCristian the first image (chat) on the features page is far too large.

Especially on iphoneX it takes up full width.

https://dev.status.im/features/

<img width="1279" alt="Screen Shot 2020-02-06 at 8 12 23 PM" src="https://user-images.githubusercontent.com/33129508/73992443-2e6d0f80-491d-11ea-9856-ed2279bc91f4.png">

[2020-02-14 09:29] serejandmyself opened #466 "Status mobile application privacy policy"
I am unsure if I'm opening the issue in the correct repo, please feel free to move it to the right repo if necessary.

I have wrote a [reddit post](https://www.reddit.com/r/ethereum/comments/f3pqm6/status_privacy_policy_a_public_inquiry_about_the/) with my concerns to the Status mobile app privacy policy. IMO, it's only fair that I link the post to this issue, as it is my intention to clarify my q

[2020-02-14 21:30] #459 closed

[2020-02-14 21:31] #453 closed

[2020-02-14 21:33] #353 closed

[2020-02-14 21:33] #352 closed

[2020-02-14 21:35] #204 closed

[2020-02-14 21:35] #214 closed

[2020-02-14 21:35] #297 closed

[2020-02-14 21:35] #307 closed

[2020-02-14 21:35] #338 closed

[2020-02-14 21:35] #339 closed

[2020-02-14 21:35] #341 closed

[2020-02-14 21:35] #342 closed

[2020-02-14 21:35] #343 closed

[2020-02-14 21:35] #344 closed

[2020-02-14 21:35] #345 closed

[2020-02-14 21:35] #346 closed

[2020-02-14 21:35] #347 closed

[2020-02-14 21:35] #350 closed

[2020-02-14 21:35] #351 closed

[2020-02-14 21:38] j-zerah opened #471 "[Homepage] Copy and image pushing too far down the page"
When landing on Status.im, the image still feels a bit too large and the copy is pushed too far down the page.

It causes the Blog CTA to drop just below the fold on mac 13"

Please compare latest screenshot to previous
<img width="1271" alt="Screen Shot 2020-02-13 at 9 31 35 AM" src="https://user-images.githubusercontent.com/33129508/74569378-4873a700-4f48-11ea-95db-19e4afb822e3.png">
<img width=

[2020-02-14 21:43] j-zerah opened #472 "[Features] Integrated Ethereum Wallet > Remove ERC20 CTA"
Remove the CTA “Join Status Wallet Public channel” from the Coy about ERC20 &ERC721 Compatible.

The public channel is no longer in use.

So lets remove the CTA all together.

<img width="1265" alt="Screen Shot 2020-02-14 at 4 43 15 PM" src="https://user-images.githubusercontent.com/33129508/74569744-229ad200-4f49-11ea-8175-f1ae03a6acb1.png">

[2020-02-14 21:46] j-zerah opened #473 "[Features] Remove mention of Mac, Windows, Linux from "Get Status" module"
On the install  page (https://status.im/get/), we have removed any mention of Desktop. However, this module still mentions mac, windows, and linux

Please update the copy to read:

"Start enjoying Status on iOS and Android"

<img width="1271" alt="Screen Shot 2020-02-14 at 4 44 50 PM" src="https://user-images.githubusercontent.com/33129508/74569904-7d342e00-4f49-11ea-91ec-71aad5edb909.png">

[2020-02-14 22:14] j-zerah opened #474 "[Docs] Update contacts on contributor workflow"
https://status.im/technical/contributor_workflow.html

**1. )Please update the following contact info:**

Update to:

**2. Also please update:**

to:

**3. Also please update:**

to:

[2020-02-14 22:20] j-zerah opened #475 "[Features] Mobile >> Secure Messenger Section image stretched"
https://status.im/features/

iPhoneX
Safari

first image on features page looks stretched on mobile

![IMG_9106](https://user-images.githubusercontent.com/33129508/74573185-46144b80-4f4e-11ea-8008-3332d2d2efc6.png)

[2020-02-14 22:26] j-zerah opened #476 "[Footer] Specs link incorrect and wrong copy"
I believe @jakubgs wanted to add a link to the specs in the site footer under "Documentation"

The copy appears wrong and is pointing to the security page.

Please update copy from:
site.header.nav.docs.link-5

to:
Specs

and point to https://github.com/status-im/specs

@jakubgs can you make this change

[2020-02-15 10:44] jakubgs commented on #476
But `link-5` is supposed to be `Security`:
https://github.com/status-im/status.im/blob/876e9e3f0be5c6d4674dea36e66cd01b26507da9/themes/navy/layout/partial/footer.ejs#L54

[2020-02-15 10:44] jakubgs commented on #476
Not entirely sure what you want me to do.

[2020-02-15 17:22] jakubgs commented on #476
Something like this?
https://github.com/status-im/status.im/pull/477

[2020-02-20 07:51] CallMeGwei opened #480 "Inconsistent communication channels suggested across job pages"
The _Open Positions_ page tells potential candidates to drop by the **hiring** channel:

The _FAQs_ page tells potential candidates to drop by the **talent** channel:

---

It seems that for former (**hiring**) channel is the currently active one, having both a channel in the Status app and also in the Discord... **but those channels do not appear to be linked to each other** with the bridge/bot.

[2020-02-21 14:25] #476 closed

[2020-02-28 21:16] j-zerah opened #484 "[Docs] Update Dapp integration center to include badges and logos"
@andytudhope

We need a place for dapp developers to find all of our preferred badges, logos, and icons in one single location for implementation on their web properties.

We will point developers to this as part of our b2b strategy.

https://status.im/developer_tools/run_on_status/assets_guidelines.html

- Update Bullet Point #2 to read "Use Status badges, logos, or icons on all digital propertie

[2020-03-04 04:04] rstormsf opened #485 "Fully close web page in Dapp browser"
When I click X in Dapp browser, the tab is closed, but it actually still hangs in the background.
How do I know? In my Dapp, I disallow usage of multiple tabs in order to prevent overriding some values in `localStorage`. Therefore if I open https://multisender.app in Status.im, close the tab, and open it again, it tells me there are multiple tabs open. Which means Status.im doesn't really close th

[2020-03-31 08:56] StatusSceptre opened #491 "Add links to sticker submission & feature request forms"
1. On https://status.im/snt-utility/ -

Can we add CTA `Submit your sticker packs` with this URL - https://forms.gle/m9huAck1k2GGnnrA8 - to the bottom of the Sticker Market section?

2. On the status.im footer, under the "Product" section -

Can we add CTA `Submit Stickers` with this URL - https://forms.gle/m9huAck1k2GGnnrA8
Below `Get App`

And, CTA `Request Feature` with this URL - https://forms

[2020-04-09 01:42] Irvine commented on #474
Pull request #495 created to address this, pending approval and merge.

[2020-04-18 04:16] carumusan opened #499 "ENS domains not resolving in dapp browser on iOS"
URL: https://ethereum.eth

[code]

[2020-06-09 15:10] j-zerah opened #515 "[Global Navigation] Update Features with Dropdown for keycard"
@NistorCristian

As we prepare to roll out new feature specific landing pages, starting with the new Keycard marketing page (status.im/keycard-integration), we need to account for them in the global navigation.

Please create a dropdown menu, similar to "Get Involved" and "Developers" for "Features".

This first update needs to coincide with the launch of the new Keycard Page.

Copy:
**Headline:**

[2020-06-09 15:14] j-zerah opened #516 "[Global Nav] Nav is different on Status.im and our.status.im"
@NistorCristian

Recent navigation changes made to https://status.im/ have not been replicated on the blog (https://our.status.im/).

- Docs --> Developers
- Developers drop down menu
- Font size decrease
- Language selector

[2020-06-15 15:49] j-zerah opened #519 "[keycard-integration] - Copy Edits"
@NistorCristian Some copy edits are needed on the keycard-integration page
[this url is incorrect btw. Should be status.im/keycard-integration - -will create a separate issue]

_HERO:_
**Add Hardware Security to Your Status Experience**
Protect your assets and accounts with Keycard – the cold storage hardware wallet with a contactless, convenient experience

_SECURING STATUS:_
Protect Your Account

[2020-06-15 15:52] j-zerah opened #520 "[keycard-integration] Black Tiles wrong color"
@NistorCristian

https://dev.status.im/keycard/
https://www.figma.com/file/EhYvl4ZCRrS1pIbLtGuNg2xU/keycard.status.im?node-id=0%3A1

The tiles at the bottom of the page are the wrong color. They are blue and then black on hover. On hover, the copy is not legible.

Please follow the design in figma and ensure the tiles are black. Then the CTA should change on hover (see interaction behavior on the

[2020-06-22 17:50] jakubgs opened #524 "CSS Refactoring"
This issue will describe what kind of elements of Status website need a CSS refactor.

[2020-06-22 17:51] jakubgs commented on #524
There's a few types of cards that could be generalized.
Like the `Status Network` card on the main page:
![status_im_card_000](https://user-images.githubusercontent.com/2212681/85319377-b6fdde00-b4c1-11ea-80ea-72b52a3e4563.png)
https://github.com/status-im/status.im/blob/92f77507d847363497ad4b721597893f1ba2d968/themes/navy/layout/index.ejs#L138-L144
There's several of them and they mostly consist

[2020-06-22 17:53] jakubgs commented on #524
Security section has them too:
![status_im_card_security](https://user-images.githubusercontent.com/2212681/85319561-fe846a00-b4c1-11ea-81e8-350360044864.png)

[2020-06-22 17:59] jakubgs commented on #524
Cards under `/get-involved/` could be included in that:
![status_im_card_get_involved](https://user-images.githubusercontent.com/2212681/85320140-e7924780-b4c2-11ea-9fc5-306e88178cd2.png)

[2020-06-22 18:09] jakubgs commented on #524
These `contributor-info` can be generalized too:
![status_im_about_contacts](https://user-images.githubusercontent.com/2212681/85320937-27a5fa00-b4c4-11ea-8acf-6b91f1d993b5.png)
https://github.com/status-im/status.im/blob/92f77507d847363497ad4b721597893f1ba2d968/scripts/helpers.js#L38-L46
And they exist also on the `/get-involved/` page:
![status_im_get_involved_contacts](https://user-images.githu

[2020-06-22 18:17] jakubgs commented on #524
This section alone:
![status_im_index_cross](https://user-images.githubusercontent.com/2212681/85321589-2f19d300-b4c5-11ea-95d1-6d1bc440765f.png)

Has 4 dedicated classes for each of the 4 pannels:
https://github.com/status-im/status.im/blob/92f77507d847363497ad4b721597893f1ba2d968/themes/navy/source/scss/main.scss#L1148-L1259

But to me it looks like just 4 cards with a title, text, and a link, a

[2020-06-22 18:21] jakubgs commented on #524
This whole section in `/snt-utility/` is 143 lines long and quite complex:
https://github.com/status-im/status.im/blob/92f77507d847363497ad4b721597893f1ba2d968/themes/navy/source/scss/main.scss#L3168-L3310
And all it does is a bunch of fancier cards:
![status_im_snt_utility_cards](https://user-images.githubusercontent.com/2212681/85322048-fd553c00-b4c5-11ea-93bf-4821e33409cf.png)

[2020-06-22 22:58] sixhobbits opened #527 "Haskel typo in Nix blog post"
In [this](https://our.status.im/reproducable-builds-with-nix/) blog post on our.status.im (not sure if that's in scope for this repository), there is the following excerpt:

Note that

See https://github.com/NixOS/nixos-weekly/pull/124

[2020-06-23 19:30] #471 closed

[2020-06-23 19:30] #472 closed

[2020-06-23 19:30] #484 closed

[2020-06-23 19:30] #515 closed

[2020-06-23 19:30] #519 closed

[2020-06-23 19:30] #520 closed

[2020-06-23 19:32] j-zerah opened #528 "[Keycard-integratoin] Add video to Page"
@NistorCristian now that the page keycard integration page is live, and we now have the video as well, can you please ass a CTA to view the video on the black tile that reads `Autonomy and Confidence`

1. Please update the description copy to:

"Status removes unnecessary third parties such as banks to communicate and transact. Kecyard provides the security to operate confidently without them."

2

[2020-07-12 22:27] GriffGreen opened #536 "Add Status as a wallet to Ethereum.org"
https://ethereum.org/en/wallets/

[2020-07-16 17:05] jakubgs commented on #527
Thanks for pointing out that typo! Fixed it.

[2020-07-16 17:05] #527 closed

[2020-07-21 08:21] jakubgs commented on #536
We already tried to do that:

* https://github.com/ethereum/ethereum-org-website/issues/791
* https://github.com/ethereum/ethereum-org-website/pull/792

But the change was rejected. Go argue with Ethereum guys.

[2020-07-21 08:21] #536 closed

[2020-07-21 08:25] jakubgs commented on #499
This is not the right repo for issues with the app. You want https://github.com/status-im/status-react.

But I don't see this issue with current version, so I assume it's resolved.

[2020-07-21 08:25] #499 closed

[2020-07-21 08:26] jakubgs commented on #485
This is not the right repo for this issue. You're looking for https://github.com/status-im/status-react.

[2020-07-21 08:26] #485 closed

[2020-07-21 08:27] #474 closed

[2020-07-21 08:30] jakubgs commented on #305
Is this still an issue? I think it's resolved.

[2020-07-21 08:31] jakubgs commented on #114
I assume this is dead.

[2020-07-21 08:31] #114 closed

[2020-07-21 08:35] jakubgs commented on #419
Outdated.

[2020-07-21 08:35] #419 closed

[2020-07-21 08:35] jakubgs commented on #238
Outdated.

[2020-07-21 08:35] #238 closed

[2020-07-21 09:58] #49 closed

[2020-07-21 10:09] churik opened #540 "Submenus of header menu are not accessible from mobile"
Menus with submenus are not accessible in mobile version, therefore website is limited on low screens.
For example, no way to open /keycard-integration page from hamburger menu
![unknown (1) png 2020-07-21 12-04-41](https://user-images.githubusercontent.com/4557972/88041466-bac96280-cb4a-11ea-9f1c-7453ae4fbabd.png)

**Expected result:** can access all sections and subsection on laptop and mobile d

[2020-07-21 12:37] j-zerah commented on #305
resolved.

[2020-07-21 12:37] #305 closed

[2020-07-23 15:01] j-zerah commented on #540
@NistorCristian can we come up with a solution for this as part of the recent web update

[2020-07-23 15:04] j-zerah opened #544 "[Global Navigation] Update Features Drop down to include new pages"
@NistorCristian as part of the features page update, we need to account for the new pages in the global navigation.

Please add links to:
- Private Messenger
- Secure Crypto Wallet
- Web3 Browser
- Account Creation
- Keycard (already there)

![Screen Shot 2020-07-23 at 11 03 55 AM](https://user-images.githubusercontent.com/33129508/88302850-52a68800-ccd4-11ea-91a7-612a5eccccf2.png)

[2020-07-23 15:08] j-zerah opened #545 "[Global Footer] Update Global footer to include new feature pages"
@NistorCristian as part of the website update with new feature pages, please update the global footer to include:

**Product**
Private Messenger
Secure Crypto Wallet
Web3 Browser
Account Creation
Keycard

**Status**
Get Involved
About
Media Kit
Blog
White Paper
Analytics

**Developers**
Docs
DApp Integration
Contributor Guide
Tutorials
Specs
Nightly

**Status Network**
Keycard
Dap.ps
Assemble
Tell

[2020-07-23 15:11] j-zerah opened #546 "[Homepage] Update homepage hero asset with new image"
@NistorCristian as part of the website update to include new feature pages, please update the primary image on status.im homepage. The new asset includes an update UI , most notably with new icons.

![Screen Shot 2020-07-23 at 11 09 45 AM](https://user-images.githubusercontent.com/33129508/88303442-0c055d80-ccd5-11ea-94bd-d3a226095bcd.png)

New asset here
![status-primary-asset](https://user-image

[2020-07-23 15:45] NistorCristian commented on #540
Sure. I'll do a submenu there.

[2020-07-24 07:29] jakubgs commented on #475
@churik I believe this is fixed now after the refactor. Can you verify?

[2020-07-27 10:19] #475 closed

[2020-08-09 08:01] uniuni1 opened #553 "dApp not working on Status anymore"
Hello, since a few days Uniswap (v2) doesn’t work with status anymore (using iOS 13.5)
 I can’t add custom contracts and all the default tokens just keep having the circle for loading. Before a few days it worked perfectly fine.

Tried reinstalling the app too. uniswap has no problems on other browsers - it’s a problem with Status.

Other people have this issue too - see #app-uniswap-org

![9CCD78

[2020-08-17 20:41] j-zerah opened #558 "[HOMEPAGE] Message, Browse, Transact - missing animation + CTA"
@NistorCristian

There is an animation called out in the [figma](https://www.figma.com/file/N7YK2CgY1dsIeJ5ejDCw3V/Status?node-id=51%3A353) file in which these three phones converge into one.

There should also be a CTA inviting the user to scroll down and learn more and "Explore Features" (with a downward pointing arrow).

![Screen Shot 2020-08-17 at 4 38 47 PM](https://user-images.githubusercont

[2020-08-17 20:44] j-zerah opened #559 "[HOMEPAGE] Truly Private Messaging Section - image looks wrong"
@NistorCristian

The image on the homepage for "Truly Private Messaging" looks wrong. It looks like the image from the old version of the site. Now that this is against a light background, the asset needs to be adjusted like the figma file

![Screen Shot 2020-08-17 at 4 42 28 PM](https://user-images.githubusercontent.com/33129508/90442555-d91e7180-e0a8-11ea-9862-798f1844702e.png)

[2020-08-17 20:48] j-zerah opened #560 "[HOMEPAGE] Status Network incorrect copy and link URL"
@NistorCristian

Please update the header copy from `Status Network` to `The Status Network`

The URL for "Learn more about The Status Network" is pointing to dap.ps. It should point to https://statusnetwork.com/

![Screen Shot 2020-08-17 at 4 46 10 PM](https://user-images.githubusercontent.com/33129508/90442938-6e216a80-e0a9-11ea-9384-566314822336.png)

[2020-08-17 20:51] j-zerah opened #561 "[HOMEPAGE] Mission & Principles incorrect URL"
@NistorCristian

Mission & Principles "Learn More" URL is pointing to statusnetwork.com.

It should point to https://status.im/about/

[2020-08-17 20:53] j-zerah opened #562 "[GLOBAL NAV] - Features > remove "See all Features" cta"
@NistorCristian

In the global navigation - under "Features" - please remove the "See all features" CTA. This page does not exist anymore.

![Screen Shot 2020-08-17 at 4 52 17 PM](https://user-images.githubusercontent.com/33129508/90443344-1b947e00-e0aa-11ea-8925-0ea4c11eafc7.png)

[2020-08-17 20:59] j-zerah opened #563 "[PRIVATE MESSENGER] - Peer to Peer Messaging > View the Specs - incorrect URL"
@NistorCristian please update the URL of "See the Specs" to https://specs.status.im/spec/10

<img width="1280" alt="Screen Shot 2020-08-17 at 4 59 28 PM" src="https://user-images.githubusercontent.com/33129508/90443938-0a983c80-e0ab-11ea-8395-f1ac3dce922a.png">

[2020-08-17 21:02] j-zerah opened #564 "[PRIVATE MESSENGER] Protect Past and Future Messages - Learn More - incorrect URL"
@NistorCristian

on the private messegner page, under Protect Past and Future Messages, please update the URL of the learn more CTA to
https://our.status.im/breaking-down-the-private-secure-messenger/

<img width="1277" alt="Screen Shot 2020-08-17 at 5 00 23 PM" src="https://user-images.githubusercontent.com/33129508/90444182-6c58a680-e0ab-11ea-8007-d56348509a09.png">

[2020-08-17 21:05] j-zerah opened #565 "[SECURE WALLET] Designed for Security section update CTA & URL"
@NistorCristian

On the wallet page, please update, the "Designed for Security section"

1. PLease update the see the spec cta URL with https://specs.status.im/
2. Remove the Learn More CTA (we already drive to the relevant blog post in the section above)

<img width="1268" alt="Screen Shot 2020-08-17 at 5 03 51 PM" src="https://user-images.githubusercontent.com/33129508/90444443-db35ff80-e0ab-11e

[2020-08-17 21:08] j-zerah opened #566 "[SECURE WALLET] "Earn with Friends Section" Update CTA to point to new referral program page"
@NistorCristian please update CTA to point to new referral program page

<img width="1276" alt="Screen Shot 2020-08-17 at 5 06 20 PM" src="https://user-images.githubusercontent.com/33129508/90444643-39fb7900-e0ac-11ea-9dea-065ee17d5c9e.png">

[2020-08-17 21:11] j-zerah opened #567 "[SECURE WALLET] Hardware Security With Keycard - update"
@NistorCristian please update with the following:

1. Update CTA copy from "Learn more" to "Explore Keycard"
2. Image of card is missing from design. Please update based on figma file

<img width="640" alt="Screen Shot 2020-08-17 at 5 10 17 PM" src="https://user-images.githubusercontent.com/33129508/90444883-b1c9a380-e0ac-11ea-9271-3bdc003f8f24.png">

[2020-08-17 21:18] j-zerah opened #568 "[ACCOUNT CREATION] Remove CTA in ENS User Name Section"
@NistorCristian please remove the CTA on the ENS Username section.

<img width="1273" alt="Screen Shot 2020-08-17 at 5 17 09 PM" src="https://user-images.githubusercontent.com/33129508/90445406-9ca14480-e0ad-11ea-8bab-beb2330afd6e.png">

[2020-10-14 09:15] machocam opened #586 "English grammar issue, see image"
See last sentence

![Screenshot_20201014-104957](https://user-images.githubusercontent.com/7000131/95968995-7a5a4780-0e0e-11eb-829d-852fc815f7ea.jpg)

[2020-10-14 21:32] chainvisions commented on #586
That definitely needs to be fixed. I will make a pull request very soon.

[2020-10-24 21:05] #211 closed

[2020-10-27 13:56] jinhojang6 commented on #586
Thanks @machocam and @chainvisions. The PR was merged

[2020-10-27 13:57] #586 closed

[2020-11-01 14:25] masvil opened #592 "[iOS] Missing syncronization = failure to send"
Trying to reproduce it, will update.

[2020-11-21 04:42] stevekeol opened #595 "How to start this project?"
when I run `yarn devel`, the browser notify the error：
[code]
How can i fix it?
![image.png](https://upload-images.jianshu.io/upload_images/3030499-929d223ba26ff02a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)

[2021-01-19 10:31] simonricoo opened #611 "Update Installation Instructions Text"
<img width="1764" alt="Screen_Shot_2021-01-19_at_10_46_47" src="https://user-images.githubusercontent.com/52249767/105017137-bde2d400-5a43-11eb-9e75-72f97ca58074.png">

### Problem
The instructions we provide in the website is not the only way how to enable to open an app on MacOS from the internet. It depends on your OS version, Privacy settings etc.. You might need to do 2 things besides the ins

[2021-01-19 11:39] hesterbruikman commented on #611
@simonricoo do you think it works to add a note after the last bullet for MacOS?

If you are prompted with the screen below. In `Privacy and Security`, make sure `Allow apps downloaded from` is set to `App Store and identified developers`. See also this [article](https://support.apple.com/en-us/HT202491)
![Screenshot 2021-01-19 at 10 51 5](https://user-images.githubusercontent.com/35233054/1050286

[2021-01-19 12:03] simonricoo commented on #611
I think its not enough, its not covering the use case of A) When you need to click "Open Anyway" in Privacy & Security.

If your are prompted with a warning pop-up. Go to `System Preferences` → `Privacy and Security` and make sure make sure `Allow apps downloaded from` is set to `App Store and identified developers`, you might also need to click on `Open Anyway`

[2021-01-19 12:21] simonricoo commented on #611
Actually I think this will be sufficient to write instead what we have now.
<img width="1425" alt="Screen Shot 2021-01-19 at 13 20 32" src="https://user-images.githubusercontent.com/52249767/105034029-356f2e00-5a59-11eb-834c-2ebd35a11e70.png">

[2021-01-21 20:44] michaelsbradleyjr commented on #611
A couple of thoughts:

We are identified developers and we are signing with the correct kind of Apple-issued certificate. If that wasn't the case, it wouldn't be possible to bypass Apple's mechanism that prevents the app from opening by default.

What we're not doing, yet, is "notarizing" the builds for macOS. Once we have build notarization in place, this problem should go away entirely (I hope!)

[2021-01-21 20:48] michaelsbradleyjr commented on #611
Okay, I see an example in the article [you linked](https://support.apple.com/en-us/HT202491):

![image](https://user-images.githubusercontent.com/194260/105410436-8b79d800-5bf7-11eb-95c6-cb4f75e0fc7d.png)

However, that's something I have never experienced myself, so maybe it's a behavior of a newer version of macOS, I'm not really sure.

[2021-01-21 20:54] michaelsbradleyjr opened #613 "The bump for the latest beta didn't change the links on the instructions page"
Re: this commit: https://github.com/status-im/status.im/commit/12d6401e0471bb8cee47e5174898433f1342a5ec.

I'm not sure why but the instructions pages still has links for beta.4: https://status.im/user_guides/desktop_beta_install.html.

I tried clearing my cache and opening it in a browser that I've never previously used to visit that page, but I still get links for beta.4.

[2021-03-27 08:29] jurjendevries opened #629 "No edit button on https://dev.status.im/ pages"
According the https://github.com/status-im/status.im/blob/develop/README.md "There is an edit button on each page, which will take you directly to the document you need to edit on the develop branch." . I don't see this button when browsing to https://dev.status.im/ and its subpages. I like to contribute by editing some items in the FAQ that are outdated or missing a link.

[2021-05-24 18:29] valera-rozuvan opened #643 "Search service is broken"
In the `README.md` file of this repo - there is a link at the bottom to https://search.status.im/ . Right now there is nothing - the URL does not load. Is this expected?

[2021-05-24 18:30] valera-rozuvan commented on #165
The cluster seems to be down. See https://github.com/status-im/status.im/issues/643 .

[2021-05-25 07:39] jakubgs commented on #643
You're right. It's due to our recent switch to WireGuard VPN in https://github.com/status-im/infra-hq/issues/58. I've fixed it:

![image](https://user-images.githubusercontent.com/2212681/119458481-15b88100-bd3d-11eb-8579-8f8a7bc1ebf3.png)

Thanks for reporting.

[2021-05-25 07:39] #643 closed

[2021-05-25 19:05] valera-rozuvan commented on #643
@jakubgs - doesn't open for me. Tried it directly from my current location (Ukraine), and also from a jump host in Germany. Site doesn't load.

[2021-05-26 06:41] jakubgs commented on #643
I can see it working just fine.

![image](https://user-images.githubusercontent.com/2212681/119614059-1fee8400-bdfe-11eb-9784-2c41c4d82c75.png)

No idea what your issue is.

[2021-05-26 12:56] valera-rozuvan commented on #643
This is what I am seeing:

![image](https://user-images.githubusercontent.com/2273090/119663350-f273fb80-be3a-11eb-8e67-5c6744dff2b8.png)

[2021-05-26 13:29] jakubgs commented on #643
Wait, are you trying to open https://search.status.im/ in the browser? Why would you do that?

[2021-05-26 14:07] valera-rozuvan commented on #643
I see - yeah I got it wrong. Thank you :)

[2021-05-26 14:17] jakubgs commented on #643
Just to clarify, that's just a API endpoint for ElasticSearch cluster used to provide search on the https://status.im/ website.

I've renamed it to https://search.infra.status.im/ so it looks less like a website since it appears to be confusing: https://github.com/status-im/status.im/commit/73a4139d

[2021-06-30 18:07] n-boc opened #652 "status.im/technical/ footer eating scroll input"
To reproduce:
1. go to https://status.im/technical/
2. resize the window to make it smaller and/or zoom in. This step is a bit ambiguous. It seems like if the browser window is sufficiently smaller than the page footer ( black section, "**Ready to get started with Status?** ..." ) then the scrolling functionality breaks.
3. try to scroll up

Checked a few other pages and it seems specific to /tech

[2021-07-23 10:59] jakubgs commented on #652
Hahaha, that's a funny bug. Thanks for reporting.

[2021-07-23 11:04] jakubgs commented on #629
Pretty sure that line in the `README` is just outdated, and I don't really recall buttons like that ever being there, but maybe.
I think that line is just referring to the `edit` button on GitHub for the markdown files:
![image](https://user-images.githubusercontent.com/2212681/126773091-ef04c45e-c64d-421e-861a-1bc58931cc09.png)

I adjusted the wording: https://github.com/status-im/status.im/commi

[2021-07-23 11:04] #629 closed

[2021-07-23 11:04] jakubgs commented on #613
This was never automated.

[2021-07-23 11:04] #613 closed

[2021-07-23 11:07] jakubgs commented on #595
This is correct, `yarn build` is required. Thanks.

[2021-07-23 11:07] #595 closed

[2021-07-23 11:07] #592 closed

[2021-07-23 11:08] jakubgs commented on #524
This has already been done.

[2021-07-23 11:08] #524 closed

[2021-07-23 11:09] jakubgs opened #656 "Integrate the new careers page from Pinpointhq"
We are switching from GreenHouse to Pinpoint and our new jobs listings are available here: https://statusim.pinpointhq.com/

We'll need to integrate that with the jobs page on our site: https://status.im/our_team/jobs.html

[2021-07-23 11:10] jakubgs commented on #656
I sent a query email to Pinpoint support and our CSS contact about this:

[2021-07-23 11:12] jakubgs commented on #656
And this is their response:

﻿I would recommend using our API though, this can be found within Pinpoint in the 'integrations' area on the left hand panel, then it's called 'Pinpoint API'. For your reference, here are our API documents that can help: https://developers.pinpointhq.com/docs

So as I predicted, they do not allow for embedding their jobs listings via iframe, which is quite pathetic.

[2021-07-23 11:47] jakubgs commented on #540
Looks like this is still an issue.

[2021-07-28 10:27] Stefaniach commented on #656
Just following up that we figured out we can use a custom domain instead:
[code]

[2021-07-28 10:40] jakubgs commented on #656
@Stefaniach yeah. If we use a domain like `jobs.status.im` then the `X-Frame-Options: SAMEORIGIN` should no longer be a blocker from embedding the page via an `iframe` tag.

[2021-07-28 10:48] Stefaniach commented on #656
Awesomeness 💥 any time constraints I should keep in mind?
Greenhouse will go offline on August 5th; can we just ping you here when the new site is ready to be integrated (waiting on some brand magic from Ned amongst other things).

[2021-07-28 10:50] jakubgs commented on #656
Not really, once you get me the address I can change it pretty quickly. (though I am going out to the barber right now)

[2021-07-30 09:32] Stefaniach commented on #656
[DNS Records d203bcdff0f6482b9520563854c15197.csv](https://github.com/status-im/status.im/files/6906556/DNS.Records.d203bcdff0f6482b9520563854c15197.csv)

Dropping it here, but let's wait til Aug 4th as I still need to make that page prettier. Okay?

[2021-07-30 09:43] jakubgs commented on #656
@Stefaniach well, the sooner we put up these records the sooner they can setup the SSL certs. Since we are not advertising this page yet anywhere I think it's fine to do it today.

[2021-07-30 09:49] jakubgs commented on #656
Here's the change: https://github.com/status-im/infra-misc/commit/edee7fa5

[code]

[2021-07-30 14:23] Stefaniach commented on #656
Thanks @jakubgs !

[2021-08-31 17:45] jakubgs commented on #656
We added the redirects in https://github.com/status-im/status.im/commit/70921b92.

We might want to make custom page using the Pinpoint API, but for now this is fine.

[2021-08-31 17:45] #656 closed

[2021-12-01 20:33] n-boc opened #685 "status.im collapsed navbar "Features" broken"
to reproduce:
1. go to https://status.im/
2. resize the window so that the top navbar collapses to the top right corner = menu (e.g. make it half screen width if you have normal screen resolution)
3. open the menu
4. click Features or click the expanding arrow to the far right of Features

proposed solution:
add a link to "Features" to https://status.im/features/

[2022-01-15 13:09] astrapi69 commented on #225
Hi @speedyFixer yes the above command worked for me.

[2022-06-28 09:41] hesterbruikman opened #705 "Remove mobile releases schedule"
### Issue
Mobile release schedule is a page on status.im that is indexed by Google and outdated. Noticed someone referring to it on our Community Discord asking about a next release https://discord.com/channels/641364059387854899/663386050625798184/988570251786600498

https://status.im/mobile-release-schedule/#undefined

### Expected
Page is removed

[2022-06-28 09:46] hesterbruikman commented on #705
@jakubgs I think I can manage this, but I don't have edit rights. Could you either assign your self or boost my permissions?

Original commit/places to edit: https://github.com/status-im/status.im/commit/51ca100bbbb95df9cc155506131feea96e5b72de#diff-520bf7d9167964b37e98f5b96cdf21d25524513566f9ebfc99e396303785994fR20

[2022-06-28 10:44] jakubgs commented on #705
Sure, I've added write permissions for you, but already fixed it too: https://github.com/status-im/status.im/commit/212ed7dc

[2022-06-28 10:44] #705 closed

[2022-08-19 21:55] dnicolson opened #708 "SSL issue with the `www.status.im` subdomain"
`curl -i 'https://www.status.im'`

[code]

[2022-11-16 12:52] siddarthkay opened #717 "update go test information regarding adding tags to skip waku migration"
<img width="1584" alt="Screenshot 2022-11-16 at 6 07 07 PM" src="https://user-images.githubusercontent.com/64726664/202185468-bd609611-fe33-46d7-9fe8-7576fb07ed6e.png">

[2022-11-16 12:54] siddarthkay commented on #717
the command to run unit test now should contain the tag "gowaku_skip_migrations"
So an example test command will now become
`go test -tags gowaku_skip_migrations -v ./api/ -testify.m ^RPCSendTransaction$`

[2022-11-16 13:08] #717 closed